/* You can add global styles to this file, and also import other style files */

/*Fix Opening a new modal causes page to scroll top*/
/*https://github.com/jschr/bootstrap-modal/issues/131*/
body.modal-open {
  overflow: visible;
  right: 0px;
  left: 0px;

}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

popover-container{
  max-width: 100%;
}

.myform_control_errorMessage{
  color: red;
}

.myform_control{
  box-shadow: none;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.okr-info-container{
  align-items: center;
  border-collapse: collapse;
  box-sizing: border-box;

  margin-top: 10px;
  margin-bottom: 10px;

  flex-direction: column;
  line-height: 20px;
  min-height: 1px;
  position: relative;
  text-size-adjust: 100%;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-box-align: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.okr-info-label{

  display: block;
  font-size: 15px;
  height: 45px;
  line-height: 21.4286px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  text-size-adjust: 100%;
  top: 10px;
  /*width: 105px;*/
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.okr-info-number{

  display: block;
  font-size: 25px;
  height: 35px;
  line-height: 35.7143px;
  text-align: center;
  text-size-adjust: 100%;
  /*width: 105.828px;*/
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.okr-info-wrapper{
  margin-top: 10px;
}
.okr-info-blue{
  color:#00c2ff;
}
.okr-info-green{
  color: #58ff7d;
}
.okr-info-red{
  color: #ff4b55;
}


/* ========================================================================
   Component: chart-easypie
 ========================================================================== */

.easypie-chart {
  display: inline-block;
  position: relative;
  padding: 0 6px;
}
.easypie-chart span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  margin-left: -50%;
  height: 30px;
  margin-top: -15px;
  font-size: 20px;
}
.easypie-chart canvas {
  max-width: 100%;
}
.easypie-chart.easypie-chart-lg span {
  font-size: 40px;
  margin-top: -25px;
  line-height: 40px;
}
.easypie-chart.easypie-chart-md span {
  font-size: 25px;
  margin-top: -25px;
  line-height: 40px;
}

