<div class="row">
  <div class="col-lg-12">
    <div class="hpanel">

      <div class="panel-heading">
        <div class="panel-tools">

        </div>
      </div>


      <div class="panel-body" style="display: block;">
        <div class="table-responsive">
          Set A time Frame

          <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
            <thead>
            <tr>



              <th style="width: 10%">Team Name</th>

              <th style="width: 10%">Leader</th>
              <th style="width: 20%">Members</th>


            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let tm of teams">
              <!--truncate :-->
              <td> <a [routerLink]="['/okr/okr-teams/team-detail/',tm.team_id]"> {{ tm.team_name }}  </a></td>
              <td><a [routerLink]="['/okr/okr-users/user/',tm.team_leader_user_id]"> {{ tm.first_name + ' - ' + tm.last_name }}</a></td>
              <!--TODO: routerlink not refresh pages-->
              <!--<td><a href="/okr/okr-users/user/{{tm.team_leader_user_id}}"> {{ tm.first_name + ' - ' + tm.last_name }}</a></td>-->

              <td > {{'fff,fff,ffff,ffff,ffff'  }}       </td>

            </tr>

            </tbody>
          </table>


        </div>

      </div>
      <div class="panel-footer" style="display: block;">
        Table - {{teams.length}} rows
      </div>
    </div>

  </div>

</div>


