<div class="content animate-panel ">
  <div class="row">
    <div class="col-lg-4">
      <div class="hpanel">
        <div class="panel-body">
          <div class="pull-right text-right">



          </div>

          <img alt="logo" class="img-circle m-b m-t-md" src="images/profile.jpg">

          <h1>{{displayUserInfoData.first_name}} {{displayUserInfoData.last_name}}</h1>



          <!--<div class="text-muted font-bold m-b-xs">California, LA</div>-->



          <!--<div class="progress m-t-xs full progress-small">-->
          <!--<div style="width: 65%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" role="progressbar" class=" progress-bar progress-bar-success">-->
          <!--<span class="sr-only">35% Complete (success)</span>-->
          <!--</div>-->
          <!--</div>-->

          <dl>
            <dt>Position: </dt>
            <dd>{{displayUserInfoData.position}} </dd>
            <dt>Email: </dt>
            <dd><i class="fa fa-envelope"></i> <a href="mailto:{{displayUserInfoData.email}}">{{displayUserInfoData.email}}</a> </dd>
            <dt>Phone Number: </dt>
            <dd><i class="fa fa-phone"></i> <a>{{displayUserInfoData.mobile_number}}</a> </dd>
          </dl>
        </div>
        <div class="panel-footer contact-footer">
          <div class="row">
            <div class="col-md-4 border-right">

              <div class="okr-infor-container">
                <div class="okr-infor-number okr-infor-blue font-extra-bold "><span >10</span><span >%</span></div>
                <div class="okr-infor-label">Overall Progress</div>
              </div>
            </div>

            <div class="col-md-4 border-right">

              <div class="okr-infor-container">
                <div class="okr-infor-number okr-infor-green font-extra-bold "><span >2</span> <span > </span> </div>
                <div class="okr-infor-label">Overall Objectives</div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="okr-infor-container">
                <div class="okr-infor-number okr-infor-red font-extra-bold"><span >33</span><span >D</span></div>
                <div class="okr-infor-label">Last Update</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-8">
      <div class="hpanel">
        <div class="hpanel">

          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1">OKRs</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2">Activities</a></li>
            <li class=""><a data-toggle="tab" href="#tab-3">Teams</a></li>
          </ul>

          <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
              <div class="panel-body">
                <app-okrs-users-okrs></app-okrs-users-okrs>
              </div>
            </div>
            <!--Start users activity view-->
            <div id="tab-2" class="tab-pane">
              <div class="panel-body">
                <app-okr-users-activity></app-okr-users-activity>
              </div>
            </div>
            <!--End users activity view-->

            <!--Start users teams view-->
            <div id="tab-3" class="tab-pane">
              <div class="panel-body">
                <app-okr-users-teams></app-okr-users-teams>
              </div>
            </div>
          </div><!--End  users activity view-->


        </div>
      </div>
    </div>
  </div>

</div>


<!--<div class="normalheader ">-->

  <!--<div class="hpanel">-->
    <!--<div class="panel-body">-->
      <!--<a class="small-header-action" >-->
        <!--<div class="clip-header">-->
          <!--<i class="fa fa-arrow-up"></i>-->
        <!--</div>-->
      <!--</a>-->

      <!--<div class="profile-container" >-->
        <!--<div class="row">-->
          <!--&lt;!&ndash;Start of User information display panel&ndash;&gt;-->
          <!--<div class="User-information col-md-7">-->
            <!--<div class="row">-->
              <!--<div class="col-md-12">-->
                <!--<h1>{{displayUserInfoData.first_name}} {{displayUserInfoData.last_name}}</h1>-->
                <!--<h4>Position: {{displayUserInfoData.position}} </h4></div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col-sm-3">-->
                <!--<div class="info-title">Contact</div>-->
              <!--</div>-->
              <!--<div class="col-sm-9">-->
                <!--<div class="multi-line">-->
                  <!--<span><i class="fa fa-envelope"></i> <a href="mailto:{{displayUserInfoData.email}}">{{displayUserInfoData.email}}</a> </span>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-sm-3">-->
                <!--<div class="info-title">Phone</div>-->
              <!--</div>-->
              <!--<div class="col-sm-9">-->
                <!--<div class="multi-line">-->
                  <!--<span><i class="fa fa-phone"></i> <a>{{displayUserInfoData.mobile_number}}</a> </span>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="col-sm-3">-->
                <!--<div class="info-title">Teams</div>-->
              <!--</div>-->
              <!--<div class="col-sm-9">-->
                <!--<div class="multi-line">-->
                  <!--<div class="entity first-group">-->
                    <!--<a href="/okr/group/9148/okrs?tf=23821">544567465</a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash;End of User information display panel&ndash;&gt;-->
          <!--&lt;!&ndash;Start split&ndash;&gt;-->
          <!--<div>-->
            <!--<div>-->

            <!--</div>-->
          <!--</div>-->

          <!--<div class="horizontal-seperator pull-right">-->
            <!--<div class="horizontal-seperator"></div>-->
          <!--</div>-->
          <!--&lt;!&ndash;End of split&ndash;&gt;-->


          <!--&lt;!&ndash;Start Right task overview panel&ndash;&gt;-->
          <!--<div class="okr-info-wrapper col-lg-5 col-md-5 col-sm-12 col-xs-12">-->


            <!--<div class="okr-infor-container col-md-4 col-sm-4 col-xs-4">-->
              <!--<div class="okr-infor-number okr-infor-blue font-extra-bold m-t-xl m-b-xs"><span >10</span><span >%</span></div>-->
              <!--<div class="okr-infor-label">Overall Progress</div>-->
            <!--</div>-->

            <!--<div class="okr-infor-container col-md-4 col-sm-4 col-xs-4">-->
              <!--<div class="okr-infor-number okr-infor-green font-extra-bold m-t-xl m-b-xs"><span >2</span> <span > </span> </div>-->
              <!--<div class="okr-infor-label">Overall Objectives</div>-->
            <!--</div>-->

            <!--<div class="okr-infor-container col-md-4 col-sm-4 col-xs-4">-->
              <!--<div class="okr-infor-number okr-infor-red font-extra-bold m-t-xl m-b-xs"><span >33</span><span >D</span></div>-->
              <!--<div class="okr-infor-label">Last Update</div>-->
            <!--</div>-->


            <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
            <!--&lt;!&ndash;Time Frame select&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--</div>-->
          <!--&lt;!&ndash;End of right task overview panel&ndash;&gt;-->


        <!--</div>-->


      <!--</div>-->

    <!--</div>-->

  <!--</div>-->
<!--</div>-->

