.okr-infor-container{
  align-items: center;
  border-collapse: collapse;
  box-sizing: border-box;

  margin-top: 10px;
  margin-bottom: 10px;

  flex-direction: column;
  line-height: 20px;
  min-height: 1px;
  position: relative;
  text-size-adjust: 100%;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-box-align: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.okr-infor-label{

  display: block;
  font-size: 15px;
  height: 45px;
  line-height: 21.4286px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  text-size-adjust: 100%;
  top: 10px;
  /*width: 105px;*/
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.okr-infor-number{

  display: block;
  font-size: 25px;
  height: 35px;
  line-height: 35.7143px;
  text-align: center;
  text-size-adjust: 100%;
  /*width: 105.828px;*/
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.okr-info-wrapper{
  margin-top: 10px;
}
.okr-infor-blue{
  color:#00c2ff;
}
.okr-infor-green{
  color: #58ff7d;
}
.okr-infor-red{
  color: #ff4b55;
}
