<div class="normalheader ">

  <div class="hpanel">


    <div class="panel-body">

      <a class="small-header-action" >
        <div class="clip-header">
          <i class="fa fa-arrow-up"></i>
        </div>
      </a>



      <div class="profile-container" >

        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12">
                <h1> {{randerTeamInforData.team_name}} </h1>

              </div>
            </div>
            <br>
            <div class="row">

              <div class="col-sm-3">
                <div class="info-title">Contact</div>
              </div>

              <div class="col-sm-9">
                <div class="multi-line">
                  <span><i class="fa fa-envelope"></i> <a href="mailto:{{randerTeamInforData.team_id}}">{{randerTeamInforData.team_id}}</a> </span>
                </div>
              </div>








            </div>







          </div>



          <div>
            <div>

            </div>
          </div>



          <div class="horizontal-seperator pull-right"><div class="horizontal-seperator"></div></div>

          <div class="okr-info-wrapper col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="row">

              <div class="okr-infor-container col-md-4 col-sm-4 col-xs-4">
                <div class="okr-infor-number okr-infor-blue"><span >10</span><span >%</span></div>
                <div class="okr-infor-label">Overall Progress</div>
              </div>

              <div class="okr-infor-container col-md-4 col-sm-4 col-xs-4">
                <div class="okr-infor-number okr-infor-green"><span >2</span> <span > </span> </div>
                <div class="okr-infor-label">Overall Objectives</div>
              </div>

              <div class="okr-infor-container col-md-4 col-sm-4 col-xs-4">
                <div class="okr-infor-number okr-infor-red"><span >33</span><span >D</span></div>
                <div class="okr-infor-label">Last Update</div>
              </div>

            </div>

            <!--<div class="row">-->
            <!--Time Frame select-->
            <!--</div>-->

          </div>




        </div>


      </div>


    </div>

  </div>
</div>



<!--context-->


<div class="content animate-panel ">

  <div class="row">
    <div class="col-lg-12">
      <div class="hpanel">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab-1">Objectives & Key Results</a></li>
          <li class=""><a data-toggle="tab" href="#tab-2">Activities</a></li>
          <li class=""><a data-toggle="tab" href="#tab-3">Teams</a></li>
        </ul>

        <div class="tab-content">

          <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
              <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

              <button (click)="changeName()"></button>


            </div>

          </div>


          <div id="tab-2" class="tab-pane">
            <div class="panel-body">
              <strong>Donec quam felis</strong>

              <p>Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath </p>

              <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.</p>
            </div>
          </div>


          <div id="tab-3" class="tab-pane">
            <div class="panel-body">
              <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

              <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                existence in this spot, which was created for the bliss of souls like mine.</p>

              <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at
                the present moment; and yet I feel that I never was a greater artist than now. When.</p>
            </div>

          </div>

        </div>

      </div>
    </div>




  </div>




</div>
