
    <!--Start right context-->
    <div class="col-md-9">
      <div class="hpanel">


        <div class="panel-body">
          <!--Left Button Group-->
          <div class="row">
            <div class="col-md-6 m-b-md">
              <div class="btn-group">
                <button class="btn btn-default btn-sm"><i class="fa fa-refresh" (click)="refreshButton()"></i> Refresh</button>


              </div>
            </div>

            <!--Right Button Group-->
            <div class="col-md-6 mailbox-pagination m-b-md">
              <div class="btn-group">

                <!--<button class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Add New</button>-->

                <button class="btn btn-default btn-sm" (click)="editButton()"><i class="fa fa-pencil-square-o"></i> Edit</button>
                <button type="button" class="btn btn-default btn-sm"  (click)="addKeyResultButton()"><i class="fa fa-plus"></i>
                  Add New
                </button>


                <!--<app-time-frame-settgoalModalodal></app-time-frame-settgoalModalodal>-->


              </div>
            </div>
          </div>



          <div class="table-responsive">
            <!--Start Table List-->
            <table class="table table-hover table-mailbox">
              <tbody>

              <tr class="active">
                <td >ID</td>
                <td >Name</td>
                <td>Starting Date</td>
                <td>Ending Date</td>
                <td [hidden]=isLoaded>Edit</td>
              </tr>

              <tr *ngFor="let kr of keyResults">
                <td >{{ kr.result_id}}</td>
                <td> {{ kr.result_description }} </td>

                <td [hidden]=isLoaded>
                  <!--Delete the record-->
                  <button class="btn btn-default btn-sm" (click)="deleteKeyResultButton(kr);" ><i class="fa fa-trash-o"></i> </button>
                  <!--Edit the record-->
                  <button class="btn btn-default btn-sm" (click)="editKeyResultsButton(kr)"><i class="fa fa-pencil-square-o"></i> </button>
                </td>
              </tr>

              </tbody>
            </table>

            <!--End Table List-->
          </div>
        </div>

        <div class="panel-footer">
          <i class="fa fa-eye"> </i> 6 unread
        </div>

      </div>
    </div>
    <!--End right context-->





<!--&lt;!&ndash;Add New Record modal module&ndash;&gt;-->

<!--<modal [animation]="animation" [keyboard]="keyboard"   [backdrop]="backdrop"  #modal>-->
  <!--<div class="color-line"></div>-->
  <!--<modal-header [show-close]="true">-->
    <!--<h4 class="modal-title">Create New Time Frame</h4>-->
  <!--</modal-header>-->
  <!--<modal-body>-->
    <!--<div class="stage">-->
      <!--<fieldset >-->
        <!--<label >Time Frame Name</label>-->
        <!--<div class="palos-input block" >-->

          <!--<input type="text" placeholder="Please enter your time frame description" autocomplete="off" class="form-control" value="{{KeyResultNameInputBoxValue}}" #KeyResultNameInput> &lt;!&ndash;&ndash;&gt;-->

        <!--</div>-->
      <!--</fieldset>-->

      <!--<div class="selector-ctn ">-->
        <!--<fieldset class="form-group">-->
          <!--<label >Starting Date And Enging Date</label>-->
          <!--<div class="datepicker " >&lt;!&ndash;&ndash;&gt;-->

            <!--<my-date-range-picker [options]="myDateRangePickerOptionsNormal"-->
                                  <!--(dateRangeChanged)="onDateRangeChanged($event)"-->
                                  <!--(inputFieldChanged)="onInputFieldChanged($event)"-->
                                  <!--(calendarViewChanged)="onCalendarViewChanged($event)"-->
                                  <!--[selDateRange]="edit_dateRange"-->
                                  <!--[placeholder]="rangeTextPlaceholder" #dateRange></my-date-range-picker >-->

          <!--</div>-->
        <!--</fieldset>-->
      <!--</div>-->
    <!--</div>-->
  <!--</modal-body>-->
  <!--<modal-footer>-->
    <!--<button type="button" class="btn btn-default" data-dismigoalModalodal" (clicgoalModalodal.close()">Close</button>-->
    <!--<button type="button" class="btn btn-primary" autofocus (click)="modalSaveChangeButton(KeyResultNameInput.value);" > Save changes</button>-->
  <!--</modal-footer>-->
<!--</modal>-->



