<div class="normalheader ">

  <div class="hpanel">


    <div class="panel-body">

      <a class="small-header-action" >
        <div class="clip-header">
          <i class="fa fa-arrow-up"></i>
        </div>
      </a>

      <!--<div id="hbreadcrumb" class="pull-right m-t-lg">-->
      <!--<ol class="hbreadcrumb breadcrumb">-->
      <!--<li><a href="index.html">Dashboard</a></li>-->
      <!--<li>-->
      <!--<span>App views</span>-->
      <!--</li>-->
      <!--<li class="active">-->
      <!--<span>Mailbox</span>-->
      <!--</li>-->
      <!--</ol>-->
      <!--</div>-->

      <h2 class="font-light m-b-xs">
        {{pageTitle}}
      </h2>

      <small>{{subPageTitle}}</small>

    </div>

  </div>
</div>
<div class="content animate-panel ">


  <div class="row">

    <!--Start Left navagation-->
    <div class="col-md-3">
      <div class="hpanel">
        <div class="panel-body">

          <ul class="mailbox-list">
            <li >
              <a routerLink="/okr/okr-setting">
                <span class="pull-right">12</span>
                <i class="fa fa-envelope"></i> Inbox
              </a>
            </li>
            <li>
              <a routerLink="/okr/okr-setting/setting-time-frame"><i class="fa fa-paper-plane"></i> Time Frame</a>
            </li>
          </ul>
          <hr>

          <ul class="mailbox-list">
            <li>
              <a href="#"><i class="fa fa-tag text-success"></i> Promos</a>
            </li>

            <li>
              <a href="#"><i class="fa fa-flag text-primary"></i> Updates</a>
            </li>
          </ul>

          <hr>

          <ul class="mailbox-list">
            <li>
              <a href="#"><i class="fa fa-gears"></i> Settings</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-info-circle"></i> Support</a>
            </li>
          </ul>


        </div>

      </div>
    </div>
    <!--End Left navagation-->


    <!--Start right context-->
    <div class="col-md-9">
      <div class="hpanel">


        <div class="panel-body">
          <!--Left Button Group-->
          <div class="row">
            <div class="col-md-6 m-b-md">
              <div class="btn-group">


              </div>
            </div>

            <!--Right Button Group-->
            <div class="col-md-6 mailbox-pagination m-b-md">
              <div class="btn-group">

                <!--<button class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Add New</button>-->

                <button class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o"></i> Edit</button>
                <app-time-frame-setting-modal></app-time-frame-setting-modal>

              </div>
            </div>


          </div>



          <div class="table-responsive">
            <!--Start Table List-->
            <table class="table table-hover table-mailbox">
              <tbody>

              <tr>
                <td>Name</td>
                <td>Starting Date</td>
                <td>Ending Date</td>
                <td>Edit</td>
              </tr>

              <tr class="unread">
                <td class="">
                  <div class="checkbox checkbox-single checkbox-success">
                    <input type="checkbox" checked>
                    <label></label>
                  </div>
                </td>
                <td><a href="#">Joseph Hurley</a></td>
                <td><a href="#">Nullam tempus leo id urna sagittis blandit.</a></td>
                <td><i class="fa fa-paperclip"></i></td>
                <td class="text-right mail-date">Sun, Aug 10</td>
              </tr>



              <tr>
                <td class="">
                  <div class="checkbox">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td><a href="#">Marshall Horne</a></td>
                <td><a href="#">Praesent nec nisl sed neque ornare maximus at ac enim.</a>
                </td>
                <td></td>
                <td class="text-right mail-date">Wed, Jan 13</td>
              </tr>

              </tbody>
            </table>


            <!--End Table List-->
          </div>
        </div>

        <div class="panel-footer">
          <i class="fa fa-eye"> </i> 6 unread
        </div>

      </div>
    </div>
    <!--End right context-->

  </div>
</div>
