
<div class="content animate-panel ">


  <div class="row">

    <!--Start Left navagation-->
    <div class="col-md-3">
      <div class="hpanel">
        <div class="panel-body">

          <app-okr-setting-navigation></app-okr-setting-navigation>

          <hr>

        </div>

      </div>
    </div>
    <!--End Left navagation-->


    <!--Start right context-->
   <router-outlet></router-outlet>
    <!--End right context-->

  </div>
</div>
