<!--<div class="row">-->
<!--<div style="padding-right: 20px;">-->
<!--<button type="button" class="btn w-xs btn-primary pull-right" (click)="addObjectiveButton()"><i class="fa fa-plus"></i> Add New Objective</button>-->
<!--</div>-->
<!--</div>-->





<div class="row">
    <div class="OKRs-Cards" style="margin-top: 2%">
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-12">

                <!--start Of project-->
                <div class="row projects" *ngFor=" let teamObjective of teamObjectives" style="padding-left: 20px; padding-right: 20px;">
                    <div class="col-lg-12">
                        <!--START COL-LG-12-->

                        <div class="ngswitch" [ngSwitch]="teamObjective.objective_status">

                            <div *ngSwitchCase="'Complete'">
                                <!-- START Yellow/Warning HPANEL-->
                                <div class="hpanel hgreen">
                                    <div class="panel-body">
                                        <span class="label label-success pull-right">{{teamObjective.objective_status}}</span>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h4> {{teamObjective.objective_name}}</h4>

                                                <p>
                                                    {{teamObjective.objective_description}}
                                                </p>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="project-label">Goal Name</div>
                                                        <small>{{teamObjective.time_frame_end | date:'dd-MM-y'}}</small>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <div class="project-label">PROGRESS</div>
                                                        <div class="progress m-t-xs full progress-small">
                                                            <div [ngStyle]="{'width':  teamObjective.objective_progress_status+'%'} " aria-valuemax="100" aria-valuemin="0" aria-valuenow="personalObjective.objective_progress_status" role="progressbar" class=" progress-bar progress-bar-success">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 project-info">
                                                <div class="project-action m-t-md">
                                                    <div class="btn-group">

                                                    </div>
                                                </div>
                                                <div class="project-value">
                                                    <h2 class="text-success">
                                                        {{teamObjective.objective_progress_status | number : "1.0-2"}} %
                                                    </h2>
                                                </div>
                                                <div class="project-people">


                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                                <!-- END green/complete HPANEL-->
                            </div>
                            <!--End of ngSwitchcomplete-->

                            <div *ngSwitchCase="'Warning'">
                                <!-- START Yellow/Warning HPANEL-->
                                <div class="hpanel hyellow">
                                    <div class="panel-body">
                                        <span class="label label-warning pull-right">{{teamObjective.objective_status}}</span>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h4>{{teamObjective.objective_name}}</h4>

                                                <p>
                                                    {{teamObjective.objective_description}}
                                                </p>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="project-label">Goal Name</div>
                                                        <small>{{ teamObjective.time_frame_end | date:'dd-MM-y'}}</small>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <div class="project-label">PROGRESS</div>
                                                        <div class="progress m-t-xs full progress-small">
                                                            <div [ngStyle]="{'width':  teamObjective.objective_progress_status+'%'} " aria-valuemax="100" aria-valuemin="0" aria-valuenow="personalObjective.objective_progress_status" role="progressbar" class=" progress-bar progress-bar-warning">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 project-info">
                                                <div class="project-action m-t-md">
                                                    <div class="btn-group">

                                                    </div>
                                                </div>
                                                <div class="project-value">
                                                    <h2 class="text-warning">
                                                        {{teamObjective.objective_progress_status | number : "1.0-2"}} %
                                                    </h2>
                                                </div>
                                                <div class="project-people">


                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <!-- END Yellow/Warning HPANEL-->
                            </div>
                            <!--End of ngSwitchWarning-->

                            <!--Start of ngSwitch Risk-->
                            <div *ngSwitchCase="'Risk'">
                                <!-- START hred/Risk HPANEL-->
                                <div class="hpanel hred">
                                    <div class="panel-body">
                                        <span class="label label-danger pull-right">{{teamObjective.objective_status}}</span>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h4>{{teamObjective.objective_name}}</h4>

                                                <p>
                                                    {{teamObjective.objective_description}}
                                                </p>

                                                <div class="row">

                                                    <div class="col-sm-3">
                                                        <div class="project-label">Goal Name</div>
                                                        <small>{{ teamObjective.time_frame_end | date:'dd-MM-y'}}</small>
                                                    </div>

                                                    <div class="col-sm-9">
                                                        <div class="project-label">PROGRESS</div>
                                                        <div class="progress m-t-xs full progress-small">
                                                            <div [ngStyle]="{'width':  teamObjective.objective_progress_status+'%'} " aria-valuemax="100" aria-valuemin="0" aria-valuenow="personalObjective.objective_progress_status" role="progressbar" class=" progress-bar progress-bar-danger">
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-4 project-info">
                                                <div class="project-action m-t-md">
                                                    <div class="btn-group">

                                                    </div>
                                                </div>
                                                <div class="project-value">
                                                    <h2 class="text-danger">
                                                        {{teamObjective.objective_progress_status | number : "1.0-2"}} %
                                                    </h2>
                                                </div>
                                                <div class="project-people">


                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <!-- END Yellow/Warning HPANEL-->
                            </div>

                            <!--End of NgSwitch Risk-->


                            <div *ngSwitchDefault>

                                <!-- START Info/Blue HPANEL-->
                                <div class="hpanel hblue">
                                    <div class="panel-body">
                                        <span class="label label-info pull-right"></span> <!--Tag Here-->
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h4>{{teamObjective.objective_name}}</h4>

                                                <p>
                                                    {{teamObjective.objective_description}}
                                                </p>

                                                <div class="row">


                                                    <div class="col-sm-3">
                                                        <div class="project-label">Goal Name</div>
                                                        <small>{{teamObjective.time_frame_end | date:'dd-MM-y'}}</small>
                                                    </div>

                                                    <div class="col-sm-9">
                                                        <div class="project-label">PROGRESS</div>
                                                        <div class="progress m-t-xs full progress-small">
                                                            <div [ngStyle]="{'width':  teamObjective.objective_progress_status+'%'} " aria-valuemax="100" aria-valuemin="0" aria-valuenow="personalObjective.objective_progress_status" role="progressbar" class=" progress-bar progress-bar-info">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                            <div class="col-sm-4 project-info">
                                                <div class="project-action m-t-md">
                                                    <div class="btn-group">


                                                    </div>
                                                </div>
                                                <div class="project-value">
                                                    <h2 class="text-info">
                                                        {{teamObjective.objective_progress_status | number : "1.0-2"}} %
                                                    </h2>
                                                </div>
                                                <div class="project-people">


                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                                <!-- END GREEN HPANEL-->
                            </div>
                            <!--End of ngSwitchDefault-->
                        </div>
                        <!--Eng of NG Switch-->


                        <!--Start Key Result Panel-->


                      <!--Start Key Result Panel-->
                      <div class="keyResult-panel" style="margin-top: -25px;margin-bottom: 20px;">
                        <div  class="panel-body list" *ngIf="teamObjective.keyResult_array.length;">
                          <div class="table-responsive project-list" >
                            <table class="table table-striped">
                              <thead>
                              <tr>
                                <th style="width: 20%">Key Result</th>
                                <th style="width: 50%">Progress</th>
                                <th>%</th>
                                <th> Activities </th>

                                <th *ngIf="isAdmin" > Edit </th>

                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let keyresult of teamObjective.keyResult_array">
                                <td>{{keyresult.result_name}}</td>
                                <td>
                                  <div *ngIf="keyResultEditable(teamObjective); else sliderResultDisplay">

                                    <nouislider
                                      [connect]="true"
                                      [min]="0" [max]="100" [step]="1"

                                      [(ngModel)]="keyresult.result_progress_status"
                                      [tooltips]="true"
                                      (ngModelChange)="keyResultProgressOnChange(keyresult, $event)">
                                    </nouislider>

                                  </div>
                                  <ng-template #sliderResultDisplay>
                                    <div class="progress m-t-xs full progress-small">
                                      <div [ngStyle]="{'width':  keyresult.result_progress_status+'%'} " aria-valuemax="100" aria-valuemin="0" aria-valuenow="keyresult.result_progress_status" role="progressbar" class=" progress-bar progress-bar-info">
                                      </div>
                                    </div>
                                  </ng-template>


                                </td>

                                <td >
                                  <strong>{{keyresult.result_progress_status}}%</strong>
                                </td>
                                <td >
                                  <div >


                                    <!--<button (click)="openPOPup(keyresult)"   triggers="focus" type="button" class="btn"  container="body" html="true"-->
                                    <!--[popover]="popTemplate"  placement="left" popoverTitle="Activities History"> history </button>-->
                                    <!--<button (click)="openPOPup(keyresult)"    type="button" class="btn"  container="body" html="true"-->
                                    <!--[popover]="popTemplate"  placement="left" popoverTitle="Activities History"> history </button>-->


                                    <a (click)="showActivitiesModal(keyresult)"><i class="fa fa-server"></i></a>

                                  </div>

                                </td>

                                <td *ngIf="isAdmin">
                                  <a (click)="editKeyResultButton(teamObjective,keyresult)"> edit</a>
                                  <a (click)="deleteKeyResultButton(teamObjective,keyresult)">delete</a>
                                </td>

                              </tr>


                              </tbody>
                            </table>

                          </div>
                        </div>

                        <div class="panel-footer" >
                          <button class="btn" (click)="addKeyResultButton(teamObjective)"> add new key result </button>
                        </div>

                        <div *ngIf="!teamObjective.keyResult_array.length;">
                          <br>
                          <br>
                        </div>

                      </div>
                      <!--End Key Result Panel-->






                    </div>
                    <!--END COL-LG-12-->

                </div>
                <!--End of Project/ Personal Objectives-->




                <div class="hr-line-dashed"></div>



            </div>
            <!--END COL-MD-12-->
        </div>
        <!--END ROW -->
    </div>
    <!-- END OKRs-Cards-->
</div>
<!--END ROW (TOP) -->







<!--Objectives Modal -->
<div bsModal #objectiveModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [config]="{backdrop: 'static'}">
  <div class="modal-dialog ">
    <div class="color-line"></div>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> {{modalTitle}}  </h4>
      </div>
      <div class="modal-body">
        <div class="stage">

          <!--<form class="form-horizontal">-->
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">Objective Name (*)</label>

              <div class="col-sm-9">
                <input name="objectiveNameInputBoxValue" type="text"
                       placeholder="Please enter your objective name"
                       autocomplete="off" class="form-control"
                       [(ngModel)]="objectiveNameInputBoxValue"
                       #objectiveNameInput>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Objective Description  (*)</label>
              <div class="col-sm-9">
              <textarea style="height: 85px" type="text"
                        placeholder="Please enter your objective description"
                        autocomplete="off" class="form-control"
                        name="goalDescriptionInputBoxValue"
                        [(ngModel)]="objectiveDescriptionInputBoxValue"
                        #objectiveDescriptionInput>
              </textarea>
              </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Select A Goal</label>
              <div class="col-sm-9">

                <ss-multiselect-dropdown [options]="goalsDropDownListOptions"
                                         [texts]="goalsSelectorTexts"
                                         [settings]="goalsSelectorSettings"
                                         [(ngModel)]="selectedGoal" #goalSelector>
                </ss-multiselect-dropdown>

              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Select A Tag</label>
              <div class="col-sm-9">
                <ng-select #tagSelector
                           [items]="tagDropDownListOptions"

                           [(ngModel)]="selectedTag">
                </ng-select>
              </div>
            </div>

            <div class="hr-line-dashed"></div>




          </div>
          <!--</form>-->
        </div>
      </div> <!--EndgoalModalodal Body-->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeObjectiveButton()">Close</button>
        <button type="button" class="btn btn-primary" autofocus (click)="modalSaveObjectiveChangeButton()"> Save changes</button>
      </div>

    </div>
  </div>
</div>



<!--Key result Modal -->
<div bsModal #keyResultModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [config]="{backdrop: 'static'}">
  <div class="modal-dialog ">
    <div class="color-line"></div>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> {{modalTitle}}  </h4>
        <!--<button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">-->
        <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
      </div>
      <div class="modal-body">
        <div class="stage">

          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">Key Result Name (*)</label>

              <div class="col-sm-9">
                <input name="objectiveNameInputBoxValue" type="text"
                       placeholder="Please enter your key result name"
                       autocomplete="off" class="form-control"
                       [(ngModel)]="keyResultNameInputBoxValue"

                       #keyresultNameInput>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Key Result Description  (*)</label>
              <div class="col-sm-9">
              <textarea style="height: 85px" type="text"
                        placeholder="Please enter your key result description"
                        autocomplete="off" class="form-control"
                        name="goalDescriptionInputBoxValue"
                        [(ngModel)]="keyResultDescriptionInputBoxValue"
                        #keyResultDescriptionInput>
              </textarea>

              </div>
            </div>

            <div class="hr-line-dashed"></div>


          </div>
          <!--</form>-->

        </div>


      </div> <!--EndgoalModalodal Body-->
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeKeyResultButton()"> Close</button>
        <button type="button" class="btn btn-primary" autofocus (click)="modalSaveKeyResultChangeButton(keyresultNameInput.value, keyResultDescriptionInput.value)"> Save changes</button>

      </div>

    </div>
  </div>
</div>





<!--updateProgress Modal-->
<div bsModal #updateProgressModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [config]="{backdrop: 'static'}">
  <div class="modal-dialog ">
    <div class="color-line"></div>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> {{modalTitle}}  </h4>
        <!--<button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">-->
        <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
      </div>
      <div class="modal-body">
        <div class="stage">

          <div class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-12">
                <h2>What did you do for this key result?</h2>
                <div style="font-size: 15px;"> Update current progress to
                  <input style="width: 60px;"
                         name="keyResultProgressInputBoxValue"
                         type="text" autocomplete="off"
                         [(ngModel)]="editKeyResult.result_progress_status" #keyResultProgressInput> %
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <div class="col-sm-12">
                <textarea style="height: 250px" name="progressUpdateDescription"
                          placeholder="Please enter your description"
                          autocomplete="off" class="form-control"
                          [(ngModel)]="progressUpdateDescription" ></textarea>
              </div>
            </div>


          </div>
          <!--</form>-->
        </div>
      </div> <!--EndgoalModalodal Body-->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeKeyResultProgressChangeButton()"> Cancel</button>
        <button type="button" class="btn btn-primary" autofocus (click)="modalSaveKeyResultProgressChangeButton()"> Save changes</button>
      </div>

    </div>
  </div>
</div>




<!-- Modal activities Information -->


<div bsModal #activitiesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="color-line"></div>
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title pull-left"> Activities  </h5>

        <button type="button" class="close pull-right" aria-label="Close" (click)="hideActivitiesModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="stage" style="overflow-y: scroll; height: 75%">

          <!-- PoPup Over---->

          <div *ngIf="activitiesLoading">
            <div class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
            </div>
          </div>

          <div class="table-responsive project-list" *ngIf="!activitiesLoading">
            <table class="table table-striped">
              <thead>
              <tr>
                <th >Activity ID</th>
                <th >Activity Details</th>
                <th >Activity Comment</th>
                <th>Time</th>
                <th>Editor</th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let activities of activitiesInfo">
                <td>{{activities.activity_id}}</td>
                <td>
                  {{activities.activity_detail}}
                </td>
                <td>
                  {{activities.activity_comment}}
                </td>
                <td>
                  {{activities.activity_timestamp | date:'dd-MM-y hh:mm'}}
                </td>
                <td>
                  {{activities.first_name}}   {{activities.last_name}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>



        </div>

      </div>
    </div>
  </div>
</div>




<!-- Modal For Review -->


<div bsModal #reviewObjectiveModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg ">
    <div class="color-line"></div>
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title pull-left"> Objective Review  </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeReviewObjectiveButton()">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <div class="stage">

          <div class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-12">
                <h2>Objective Overview</h2>

                <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                        [titles]="['one','two','three']"></rating>
                <span class="label"
                      [ngClass]="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
                      [ngStyle]="{display: true, 'inline' : 'none'}">{{percent}}%</span>

              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <div class="col-sm-12">

                <textarea class="form-control note-editor" rows="10" [(ngModel)]="reviewDescription" [disabled]="!isAdmin"></textarea>
              </div>



            </div>
            <div class="hr-line-dashed"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeReviewObjectiveButton()"> Close</button>
              <button type="button" class="btn btn-primary" autofocus (click)="saveReviewObjectiveButton(editObjective)" [disabled]="!isAdmin"> Save changes</button>
            </div>

          </div>



        </div>

      </div>
    </div>
  </div>
</div>


