



<div class="content">
  <div class="row" *ngIf="isLoading">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>

  </div>

  <div class="row" *ngIf="!isLoading">
    <div class="col-md-12">
      <div class="hpanel">
        <div class="v-timeline vertical-container animate-panel"  data-child="vertical-timeline-block" data-delay="1">
          <!--start of the activity card-->
          <div class="vertical-timeline-block"  *ngFor="let act of activitiesInfo">
            <div class="vertical-timeline-icon navy-bg" [ngSwitch]="act.activity_type">
              <i class="fa fa-star-o" *ngSwitchCase="'Create'"></i>
              <i class="pe-7s-trash" *ngSwitchCase="'Delete'"></i>
              <i class="pe-7s-edit" *ngSwitchCase="'Update'"></i>
            </div>

            <div class="vertical-timeline-content">
              <div class="p-sm">
                <span class="vertical-date pull-right"> {{act.activity_timestamp | date:'d/M/y EEEE'}} <br/> <small> {{act.activity_timestamp | date:'HH:mm:ss'}}</small> </span>

                <h4>{{act.activity_type}}</h4>
                <p>{{act.activity_detail}}</p>


                <div *ngIf="act.activity_comment"> Comment : {{act.activity_comment}}</div>
              </div>

              <div class="panel-footer">
                By {{act.first_name + " - " + act.last_name}}
              </div>
            </div>
          </div>
          <!--end of the activity card-->
        </div>
      </div>
    </div>
  </div><!--end of content-->

</div>
