<p>
  company-okrs works!
</p>
<div class="OKRs-Cards">
  <div class="row" style="margin-bottom:20px;">
    <div class="col-md-12">


      <!--start Of project-->
      <div class="row projects" *ngFor=" let goal of goals">

        <div class="col-lg-12">
          <div class="hpanel hgreen">
            <div class="panel-body">
              <span class="label label-success pull-right">NEW</span>
              <div class="row">
                <div class="col-sm-8">
                  <h4><a href=""> {{goal.goal_name}}</a></h4>

                  <p>
                  {{goal.goal_description}}
                  </p>

                  <div class="row">
                    <div class="col-sm-3">
                      <div class="project-label"></div>
                      <small>Hendrix Corp</small>
                    </div>
                    <div class="col-sm-3">
                      <div class="project-label">VERSION</div>
                      <small>1.5.2</small>
                    </div>
                    <div class="col-sm-3">
                      <div class="project-label">DEDLINE</div>
                      <small>12.06.2015</small>
                    </div>
                    <div class="col-sm-3">
                      <div class="project-label">PROGRESS</div>
                      <div class="progress m-t-xs full progress-small">
                        <div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class=" progress-bar progress-bar-success">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 project-info">
                  <div class="project-action m-t-md">
                    <div class="btn-group">
                      <button class="btn btn-xs btn-default"> View</button>
                      <button class="btn btn-xs btn-default"> Edit</button>
                      <button class="btn btn-xs btn-default"> Delete</button>
                    </div>
                  </div>
                  <div class="project-value">
                    <h2 class="text-success">
                      $ -
                    </h2>
                  </div>
                  <div class="project-people">
                    <img alt="logo" class="img-circle" src="images/a1.jpg">

                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              Additional information about project in footer
            </div>



            <!--start A Objective-->
            <!--<div class="col-lg-3">-->
              <!--<div class="hpanel stats">-->
                <!--<div class="panel-body h-200">-->
                  <!--<div class="stats-title pull-left">-->
                    <!--<h4>Users Activity</h4>-->
                  <!--</div>-->
                  <!--<div class="stats-icon pull-right">-->
                    <!--<i class="pe-7s-share fa-4x"></i>-->
                  <!--</div>-->
                  <!--<div class="m-t-xl">-->
                    <!--<h3 class="m-b-xs">210</h3>-->
                    <!--<span class="font-bold no-margins">-->
                        <!--Social users-->
                    <!--</span>-->

                    <!--<div class="progress m-t-xs full progress-small">-->
                      <!--<div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class=" progress-bar progress-bar-success">-->
                        <!--<span class="sr-only">35% Complete (success)</span>-->
                      <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                      <!--<div class="col-xs-6">-->
                        <!--<small class="stats-label">Pages / Visit</small>-->
                        <!--<h4>7.80</h4>-->
                      <!--</div>-->

                      <!--<div class="col-xs-6">-->
                        <!--<small class="stats-label">% New Visits</small>-->
                        <!--<h4>76.43%</h4>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="panel-footer">-->
                  <!--This is standard panel footer-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--End Of objective-->


          </div>
        </div>

      </div>
      <!--End of Project/ Goal-->

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8"></div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8"></div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8"></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom:20px;">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8"></div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8"></div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8"></div>
      </div>
    </div>
  </div>
</div>










<!--Add New Record modal module-->

<modal [animation]="animation" [keyboard]="keyboard"   #modal>
  <div class="color-line"></div>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Create New Time Frame</h4>
  </modal-header>
  <modal-body>
    <div class="stage">

      <label >Goal Name</label>
      <div class="palos-input block" >

        <input type="text" placeholder="Please enter your goal name" autocomplete="off" class="form-control" value="{{goalNameInputBoxValue}}" #goalNameInput> <!---->

      </div>

      <br>
      <div class="selector-ctn" >

        <label >Goal Description</label>
        <div class="palos-input block" >

          <textarea style="height: 85px" type="text" placeholder="Please enter your goal description" autocomplete="off" class="form-control" value="{{goalDescriptionInputBoxValue}}" #goalDescriptionInput></textarea> <!---->

        </div>

        <label >Select A Time Frame</label>
        <div class="palos-input block" >

          <ng-select #timeFrameSelector
                     [allowClear]="true"
                     [items]="timeFrameDropdownListOptions"
                     [disabled]="disabled"
                     [(ngModel)]="selectedTimeFrame"
                     placeholder="Select a Time Frame">
          </ng-select>


        </div>


      </div>

    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.close()">Close</button>
    <button type="button" class="btn btn-primary" autofocus (click)="modalSaveChangeButton(goalNameInput.value,goalDescriptionInput.value);" > Save changes</button>
  </modal-footer>
</modal>


