.popover{
  max-width: 100%; /* Max Width of the popover (depending on the container!)*/
}

.popover-container{
  max-width: 100%;
}
.div.popover.left.in{
  max-width: 100%;
}
html body app-root app-main div#wrapper app-okr-goals-detail div.content.animate-panel div.row div.col-lg-8 div.hpanel div.hpanel tabset.tab-container div.tab-content tab.active.tab-pane div.panel-body app-goal-okrs div.row div.OKRs-Cards div.row div.col-md-12 div.row.projects div.col-lg-12 div.keyResult-panel div.panel-body.list div.table-responsive.project-list table.table.table-striped tbody tr td div.pull-right popover-content div.popover.left.in{
  max-width: 100%;
}
body > popover-container{
  max-width: 100%;
}
