<div class="normalheader ">

  <div class="hpanel">


    <div class="panel-body">

      <a class="small-header-action" >
        <div class="clip-header">
          <i class="fa fa-arrow-up"></i>
        </div>
      </a>



      <div class="profile-container" >

        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12">
                <h1> {{companyInfo.company_name}} </h1>
                <h4> Members : {{totalMemberNumber}} </h4>
              </div>
            </div>
            <br>
            <div class="row">

              <div class="col-sm-3">
                <div class="info-title">Mission</div>
              </div>

              <div class="col-sm-9">
                <div class="multi-line">
                  <span> {{companyInfo.company_mission}}</span>
                </div>
              </div>


              <div class="col-sm-3">
                <div class="info-title">Vision</div>
              </div>

              <div class="col-sm-9">
                <div class="multi-line">
                  <span> {{companyInfo.company_vision}}</span>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="info-title">Contact</div>
              </div>

              <div class="col-sm-9">
                <div class="multi-line">
                  <span><i class="fa fa-envelope"></i> <a href="mailto:{{companyInfo.company_email}}">{{companyInfo.company_email}}</a> </span>
                </div>
              </div>



              <div class="col-sm-3">
                <div class="info-title">Phone</div>
              </div>

              <div class="col-sm-9">
                <div class="multi-line">
                  <span><i class="fa fa-phone"></i> <a href="tel:{{companyInfo.company_phone}}">{{companyInfo.company_phone}}</a> </span>
                </div>
              </div>



              <div class="col-sm-3">
                <div class="info-title">Address</div>
              </div>

              <div class="col-sm-9">
                <div class="multi-line">

                  <div class=""><i class="fa fa-globe"></i> <a href="http://maps.google.com/?q={{companyInfo.company_address}}">{{companyInfo.company_address}}</a>
                  </div>


                </div>
              </div>


            </div>







          </div>



          <div>
            <div>

            </div>
          </div>



          <div class="horizontal-seperator pull-right"><div class="horizontal-seperator"></div></div>

          <div class="okr-info-wrapper col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="row">

              <div class="okr-infor-container col-md-6 col-sm-6 col-xs-6">
                <div class="okr-infor-number okr-infor-blue"><span >{{overallProgressNumber | number : "1.0-2"}}</span><span >%</span></div>
                <div class="okr-infor-label">Overall Progress</div>
              </div>

              <div class="okr-infor-container col-md-6 col-sm-6 col-xs-6">
                <div class="okr-infor-number okr-infor-green"><span >{{totalGoalsNumber}}   </span> <span > </span> </div>
                <div class="okr-infor-label">Overall Goals</div>
              </div>

              <div class="okr-infor-container col-md-4 col-sm-4 col-xs-4">
                <!--<div class="okr-infor-number okr-infor-red"><span >33</span><span >D</span></div>-->
                <!--<div class="okr-infor-label">Last Update</div>-->
              </div>

            </div>

            <!--<div class="row">-->
            <!--Time Frame select-->
            <!--</div>-->

          </div>




        </div>


      </div>


    </div>

  </div>
</div>



<!--context-->


<div class="content animate-panel ">

  <div class="row">
    <div class="col-lg-12">
      <div class="hpanel">

          <tabset #staticTabs>
            <!--<tab heading="Goal OKRs" (select)="loadGoalOKRsInformation()" >-->
            <tab heading="Company Goals"  >
              <div class="panel-body">
                <app-company-okrs></app-company-okrs>
              </div>
            </tab>
            <tab heading="Activities" (select)="CompanyActivityComponent.loadCompanyActivitiesInfo()">
              <div class="panel-body">
                <app-company-activity></app-company-activity>
              </div>
            </tab>
            <tab heading="Teams"  >
              <div class="panel-body">
                <app-company-teams></app-company-teams>
              </div>
            </tab>
          </tabset>

      </div>
    </div>




  </div>




</div>
