
    <!--Start right context-->
    <div class="col-md-9">
      <div class="hpanel">


        <div class="panel-body">
          <!--Left Button Group-->
          <div class="row">
            <div class="col-md-6 m-b-md">
              <div class="btn-group">
                <!--<button class="btn btn-default btn-sm"><i class="fa fa-refresh" (click)="refreshButton()"></i> Refresh</button>-->


              </div>
            </div>

            <!--Right Button Group-->
            <div class="col-md-6 mailbox-pagination m-b-md">
              <div class="btn-group" *ngIf="isAdmin">

                <button class="btn btn-default btn-sm" (click)="editButton()"><i class="fa fa-pencil-square-o"></i> Edit</button>
                <button type="button" class="btn btn-default btn-sm"  (click)="addObjectiveButton()"><i class="fa fa-plus"></i>
                  Add New
                </button>

              </div>
            </div>
          </div>



          <div class="table-responsive">
            <!--Start Table List-->
            <table class="table table-hover table-mailbox">
              <tbody>

              <tr class="active">
                <td >ID</td>
                <td >Name</td>
                <td>Description</td>

                <td>Current status</td>
                <td>Process status</td>

                <td [hidden]="isHide">Edit</td>
              </tr>




              <tr *ngFor="let objt of objectives">
                <td >{{ objt.objective_id}}</td>
                <td> {{ objt.objective_name }} </td>
                <td> {{ objt.objective_description }} </td>

                <td> {{ objt.objective_status }} </td>
                <td> {{ objt.objective_progress_status | number : "1.0-2"}}%</td>


                <td [hidden]="isHide">
                  <!--Delete the record-->
                  <button class="btn btn-default btn-sm" (click)="deleteObjectiveButton(objt);" ><i class="fa fa-trash-o"></i> </button>
                  <!--Edit the record-->
                  <button class="btn btn-default btn-sm" (click)="editObjectiveButton(objt)"><i class="fa fa-pencil-square-o"></i> </button>
                </td>
              </tr>

              </tbody>
            </table>

            <!--End Table List-->
          </div>
        </div>

        <div class="panel-footer" *ngIf="objectives">
          {{objectives.length}} Records
        </div>

      </div>
    </div>
    <!--End right context-->






    <!--Objectives Modal -->
    <div bsModal #objectiveModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [config]="{backdrop: 'static'}">
      <div class="modal-dialog ">
        <div class="color-line"></div>
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"> {{modalTitle}}  </h4>
          </div>
          <div class="modal-body">
            <div class="stage">

              <!--<form class="form-horizontal">-->
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Objective Name (*)</label>

                  <div class="col-sm-9">
                    <input name="objectiveNameInputBoxValue" type="text"
                           placeholder="Please enter your objective name"
                           autocomplete="off" class="form-control"
                           [(ngModel)]="objectiveNameInputBoxValue"
                           #objectiveNameInput>
                  </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Objective Description  (*)</label>
                  <div class="col-sm-9">
              <textarea style="height: 85px" type="text"
                        placeholder="Please enter your objective description"
                        autocomplete="off" class="form-control"
                        name="goalDescriptionInputBoxValue"
                        [(ngModel)]="objectiveDescriptionInputBoxValue"
                        #objectiveDescriptionInput>
              </textarea>
                  </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Select A Goal</label>
                  <div class="col-sm-9">

                    <ss-multiselect-dropdown [options]="goalsDropDownListOptions"
                                             [texts]="goalsSelectorTexts"
                                             [settings]="goalsSelectorSettings"
                                             [(ngModel)]="selectedGoal" #goalSelector>
                    </ss-multiselect-dropdown>

                  </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Select A Tag</label>
                  <div class="col-sm-9">
                    <ng-select #tagSelector
                               [items]="tagDropDownListOptions"

                               [(ngModel)]="selectedTag">
                    </ng-select>
                  </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Select A Team</label>
                  <div class="col-sm-9">
                    <ng-select #teamSelector
                               [items]="teamDropDownListOptions"
                               [(ngModel)]="selectedTeam">
                    </ng-select>




                  </div>
                </div>


              </div>
              <!--</form>-->
            </div>
          </div> <!--EndgoalModalodal Body-->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeObjectiveButton()">Close</button>
            <button type="button" class="btn btn-primary" autofocus (click)="modalSaveObjectiveChangeButton()"> Save changes</button>
          </div>

        </div>
      </div>
    </div>
