




<!--Start right context-->
<div class="col-md-9">
  <div class="hpanel">


    <div class="panel-body">
      <!--Left Button Group-->
      <div class="row">
        <div class="col-md-6 m-b-md">

          <div class="btn-group">
            <!--<button class="btn btn-default btn-sm"><i class="fa fa-refresh" (click)="refreshButton()"></i> Refresh</button>-->
          </div>
        </div>

        <!--Right Button Group-->
        <div class="col-md-6 mailbox-pagination m-b-md">
          <div class="btn-group" *ngIf="isAdmin">

            <!--<button class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Add New</button>-->

            <button  class="btn btn-default btn-sm" (click)="editButton()"><i class="fa fa-pencil-square-o"></i> Edit</button>
            <button type="button" class="btn btn-default btn-sm"  (click)="addUserButton()"><i class="fa fa-plus"></i>
              Add New
            </button>


            <!--<app-time-frame-settgoalModalodal></app-time-frame-settgoalModalodal>-->


          </div>
        </div>
      </div>



      <div class="table-responsive">
        <!--Start Table List-->
        <table class="table table-hover table-mailbox">
          <tbody>

          <tr class="active">
            <td >ID</td>
            <td >User Name</td>
            <td>User Email</td>
            <td>User role</td>
            <td [hidden]=editModeIO>Edit</td>
          </tr>

          <tr *ngFor="let users of users">
            <td >{{ users.user_id}}</td>
            <td> {{ users.first_name }}  {{ users.last_name }}</td>
            <td> {{ users.email }} </td>
            <td> {{ users.role }} </td>

            <td [hidden]=editModeIO>

              <!--<button class="btn btn-default btn-sm" (click)="disableUserButton(users);" ><i class="fa fa-trash-o"></i> </button>-->
              <!--Edit the record-->
              <button class="btn btn-default btn-sm" (click)="editUserButton(users)"><i class="fa fa-pencil-square-o"></i> </button>
            </td>
          </tr>


          </tbody>
        </table>

        <!--End Table List-->
      </div>
    </div>

    <div class="panel-footer">
      {{users.length}} Records
    </div>

  </div>
</div>
<!--End right context-->





<!--Add New RecgoalModalodal module-->
<div bsModal #newUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [config]="{backdrop: 'static'}">
  <div class="modal-dialog ">
    <div class="color-line"></div>
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title pull-left"> Add New User  </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeNewUserModal()">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <div class="stage">

          <form action="#" id="registerForm"  [formGroup]="registerForm" (submit)="registerForm.valid && register()" registerForm>
            <div class="row">
              <div class="form-group col-md-6">
                <label  class=""  for="firstName">First Name</label>
                <input formControlName="firstName" type="text"  class="myform_control"  id="firstName"  name="firstName"  title="Your First Name" placeholder="First Name" required />
                <app-control-messages [control]="registerForm.controls.firstName" required></app-control-messages>
              </div>
              <div class="form-group col-md-6">
                <label>Last Name</label>
                <input formControlName="lastName" type="text"  class="myform_control"  id="lastName"  name="lastName"  title="Your Last Name" placeholder="last Name" required />
                <app-control-messages [control]="registerForm.controls.lastName" required></app-control-messages>
              </div>
              <div class="form-group col-md-12">
                <label>Email Address</label>
                <input formControlName="email" type="text"  class="myform_control"  id="email"  name="email"  title="Please enter you email" placeholder="email@address.com" required/>
                <app-control-messages [control]="registerForm.controls.email" required></app-control-messages>
              </div>
              <div class="form-group col-md-12">
                <label>Password</label>
                <input formControlName="password" type="password"  class="myform_control"  id="password"  name="password"  title="Please enter your password" placeholder="*******" required/>
                <app-control-messages [control]="registerForm.controls.password" required></app-control-messages>
              </div>

            </div>
            <div class="text-center">
              <button [disabled]="loading" class="btn btn-success " type="submit">Register</button>
              <img *ngIf="loading" src="../../assets/images/loading-bars.svg">
              <button class="btn btn-default" (click)="closeUserInfoModal()">Cancel</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>





<!-- User Info Management -->
<div bsModal #userInfoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="color-line"></div>
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title pull-left"> User Details  </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeNewUserModal()">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <div class="stage">

          <div class="panel-body"  >
            <div  class="form-horizontal">

              <div class="form-group"><label class="col-sm-3 control-label">Email Address</label>
                <div class="col-sm-9">
                  <div class="col-sm-12"><input type="text" class="form-control"placeholder="Email Address"  [disabled]="true"   [(ngModel)]="editUser.email"  ></div>
                </div>
              </div>



              <div class="form-group"><label class="col-sm-3 control-label">First Name</label>
                <div class="col-sm-9">

                  <div class="col-sm-12"><input type="text" class="form-control" placeholder="First Name"  [(ngModel)]="editUser.first_name"  ></div>

                </div>
              </div>



              <div class="form-group"><label class="col-sm-3 control-label">Last Name</label>
                <div class="col-sm-9">
                  <div class="col-sm-12"><input type="text" class="form-control" placeholder="Last Name"  [(ngModel)]="editUser.last_name"  ></div>

                </div>
              </div>


              <div class="form-group"><label class="col-sm-3 control-label">Date Of Birth</label>
                <div class="col-sm-9">
                  <div class="col-sm-12">
                    <input type="date" class="form-control" placeholder="Date Of Birth"  date='dd/MM/yyyy' [(ngModel)]="editUser.dob  " >
                  </div>

                </div>
              </div>



              <div class="form-group"><label class="col-sm-3 control-label">Mobile Number</label>
                <div class="col-sm-9">
                  <div class="col-sm-12"><input type="text" class="form-control" placeholder="Mobile Number"  [(ngModel)]="editUser.mobile_number"  ></div>
                </div>
              </div>


              <div class="form-group"><label class="col-sm-3 control-label"> Position </label>
                <div class="col-sm-9">
                  <div class="col-sm-12"><input type="text" class="form-control" placeholder="Position"  [(ngModel)]="editUser.position"  ></div>
                </div>
              </div>


              <div class="hr-line-dashed"></div>

              <div class="form-group"><label class="col-sm-3 control-label"> Permission Level </label>
                <div class="col-sm-9">
                  <div class="col-sm-12">
                    <ng-select #permission
                               [items]="permissionDropDownListOptions"

                               [(ngModel)]="selectedPermissionLevel">
                    </ng-select>

                  </div>
                </div>
              </div>





              <div class="hr-line-dashed"></div>
              <div class="form-group ">
                <div class="col-sm-8 col-sm-offset-2 ">


                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <button class="btn btn-default " (click)="closeNewUserModal()"  > Close </button>
              </div>
              <div class="col-xs-4">
                <button class="btn btn-outline btn-primary2"  (click)="openPasswordModal(editUser); closeNewUserModal() " > Password </button>
              </div>
              <div class="col-xs-4">
                <button class="btn btn-primary pull-right" type="submit" (click)="saveUserInfoButton(editUser)" >Save</button>
              </div>

            </div>


          </div>



        </div>

      </div>
    </div>
  </div>
</div>



<!-- Modal For Password -->
<div bsModal #passwordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [config]="{backdrop: 'static'}">
  <div class="modal-dialog ">
    <div class="color-line"></div>
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title pull-left"> Change Password For {{editUser.first_name + editUser.last_name}} </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closePasswordModal()">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <div class="stage">

          <form [formGroup]="passwordForm" (submit)="passwordForm.valid && submitNewPassword()" passwordForm>


            <div class="form-group">
              <label class="control-label" for="newPassword">New Password</label>

              <input formControlName="newPassword" type="password" placeholder="******"  name="newPassword" id="newPassword" class="myform_control" title="Please enter your password" required />
              <span class="help-block small">Your new password</span>
              <app-control-messages [control]="passwordForm.controls.newPassword"></app-control-messages>

            </div>




            <div class="form-group">
              <label class="control-label" for="repeatPassword">Repeat New Password</label>
              <!--<input class="myform_control" formControlName="password" id="password" placeholder="******" title="Please enter your password" required/>-->
              <input formControlName="repeatPassword" type="password" placeholder="******" name="repeatPassword" id="repeatPassword" class="myform_control" title="Please enter your password" required />
              <span class="help-block small">Type again your new password</span>
              <app-control-messages [control]="passwordForm.controls.repeatPassword"></app-control-messages>
              <div class="myform_control_errorMessage" *ngIf="passwordForm.value.newPassword != passwordForm.value.repeatPassword">New Password And Repeat Password Not Match</div>
            </div>
            <button [disabled]="loading" class="btn btn-success btn-block" type="submit">Save</button>
            <!--<img *ngIf="loading" src="../../assets/images/loading.gif" />-->
            <img *ngIf="loading" src="../../assets/images/loading-bars.svg" />
            <a class="btn btn-default btn-block" (click)="closePasswordModal(); openUserInfoModal(editUser) "> Close </a>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

