




<!--Start right context-->
<div class="col-md-9">
    <div class="hpanel">


        <div class="panel-body">
            <!--Left Button Group-->
            <div class="row">
                <div class="col-md-6 m-b-md">

                    <div class="btn-group">
                        <!--<button class="btn btn-default btn-sm"><i class="fa fa-refresh" (click)="refreshButton()"></i> Refresh</button>-->
                    </div>
                </div>

                <!--Right Button Group-->
                <div class="col-md-6 mailbox-pagination m-b-md">
                    <div class="btn-group">

                        <!--<button class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Add New</button>-->

                        <button *ngIf="isAdmin" class="btn btn-default btn-sm" (click)="editButton()"><i class="fa fa-pencil-square-o"></i> Edit</button>
                        <button type="button" class="btn btn-default btn-sm"  (click)="addUserButton()"><i class="fa fa-plus"></i>
                            Add New
                        </button>


                        <!--<app-time-frame-setting-modal></app-time-frame-setting-modal>-->


                    </div>
                </div>
            </div>



            <div class="table-responsive">
                <!--Start Table List-->
                <table class="table table-hover table-mailbox">
                    <tbody>

                    <tr class="active">
                        <td >ID</td>
                        <td >User Name</td>
                        <td>User Email</td>
                        <td>User role</td>
                        <td [hidden]=editModeIO>Edit</td>
                    </tr>

                    <tr *ngFor="let users of users">
                        <td >{{ users.user_id}}</td>
                        <td> {{ users.first_name }}  {{ users.last_name }}</td>
                        <td> {{ users.email }} </td>
                        <td> {{ users.role }} </td>

                        <td [hidden]=editModeIO>

                            <!--<button class="btn btn-default btn-sm" (click)="disableUserButton(users);" ><i class="fa fa-trash-o"></i> </button>-->
                            <!--Edit the record-->
                            <button class="btn btn-default btn-sm" (click)="editUserButton(users)"><i class="fa fa-pencil-square-o"></i> </button>
                        </td>
                    </tr>


                    </tbody>
                </table>

                <!--End Table List-->
            </div>
        </div>

        <div class="panel-footer">
            {{users.length}} Records
        </div>

    </div>
</div>
<!--End right context-->





<!--Add New Record modal module-->

<!--<modal [animation]="animation" [keyboard]="keyboard"  [backdrop]="backdrop"   #modal>-->
    <!--<div class="color-line"></div>-->
    <!--<modal-header [show-close]="true">-->
        <!--<h4 class="modal-title">Create New Time Frame</h4>-->
    <!--</modal-header>-->
    <!--<modal-body>-->
        <!--<div class="stage">-->

            <!--<label >Team Name</label>-->
            <!--<div class="palos-input block" >-->

                <!--<input type="text" placeholder="Please enter your team name" autocomplete="off" class="form-control" [(ngModel)]="teamNameInputBoxValue"  value="{{teamNameInputBoxValue}}" #teamNameInput> &lt;!&ndash;&ndash;&gt;-->

            <!--</div>-->


            <!--<br>-->


            <!--<label >Team Description</label>-->
            <!--<div class="palos-input block" >-->

          <!--<textarea type="text" placeholder="Please enter your team description" autocomplete="off" class="form-control" [(ngModel)]="teamDescriptionInputBoxValue" value="{{teamDescriptionInputBoxValue}}" #teamDescriptionInput>-->

          <!--</textarea>-->

            <!--</div>-->
            <!--<br>-->
            <!--<label >Team Leader</label>-->
            <!--<div class="palos-input block" >-->


                <!--&lt;!&ndash;<ng-select #teamLeaderSelector [allowClear]="true" [items]="teamLeadersOptions" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" [(ngModel)]="teamLeaderSelectedOptions" placeholder="Select a team leader"></ng-select>&ndash;&gt;-->

                <!--<ng-select #teamLeaderSelector-->
                           <!--[allowClear]="true"-->
                           <!--[items]="teamLeadersDropdownOptions"-->
                           <!--[disabled]="disabled"-->
                           <!--[(ngModel)]="teamLeaderSelectedOptions"-->
                           <!--placeholder="Select a team leader">-->
                <!--</ng-select>-->




            <!--</div>-->
            <!--<br>-->
            <!--<label >Team Members</label>-->
            <!--<div class="palos-input block" >-->


                <!--<ss-multiselect-dropdown [options]="membersDropdownListOptions"-->
                                         <!--[texts]="myTexts"-->
                                         <!--[settings]="teamMemberSelectorSettings"-->
                                         <!--[(ngModel)]="memberSelectedOptions" #teamMemberSelector>-->

                <!--</ss-multiselect-dropdown>-->



            <!--</div>-->


            <!--<br>-->
            <!--<label >Parent team</label>-->
            <!--<div class="palos-input block" >-->


                <!--<ng-select #parentTeamSelector-->
                           <!--[allowClear]="true"-->
                           <!--[items]="teamDropdownListOptions"-->
                           <!--[disabled]="disabled"-->
                           <!--[(ngModel)]="parentTeamSelectedOptions"-->
                           <!--placeholder="Select a parent team">-->
                <!--</ng-select>-->




            <!--</div>-->




        <!--</div>-->
    <!--</modal-body>-->
    <!--<modal-footer>-->


        <!--<button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeButton()">Close</button>-->
        <!--<button type="button" class="btn btn-primary" autofocus (click)="modalSaveChangeButton(teamNameInput.value,teamDescriptionInput.value);" > Save changes</button>-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-primary" autofocus (click)="final();" > Save changes</button>&ndash;&gt;-->



    <!--</modal-footer>-->
<!--</modal>-->



