<!-- Header -->
<div id="header">
  <div class="color-line">
  </div>
  <div id="logo" class="light-version">
        <span>
            Homer Theme
        </span>
  </div>
  <nav role="navigation">
    <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    <div class="small-logo">
      <span class="text-primary">HOMER APP</span>
    </div>
    <form role="search" class="navbar-form-custom" method="post" action="#">
      <div class="form-group">
        <!--<input type="text" placeholder="Search something special" class="form-control" name="search">-->
      </div>
    </form>
    <div class="mobile-menu">
      <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
        <i class="fa fa-chevron-down"></i>
      </button>
      <div class="collapse mobile-navbar" id="mobile-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a class="" href="#">Login</a>
          </li>
          <li>
            <a class="" href="#">Logout</a>
          </li>
          <li>
            <a class="" href="#">Profile</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav no-borders">



        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="fa fa-calendar-check-o"></i>TF {{selectedTimeFrame.time_frame_description}}
          </a>
          <ul class="dropdown-menu hdropdown notification flipInX">



            <div class="ngswitch" [ngSwitch]="selfInfo.role"><!-- Check the User permission -->

              <li *ngSwitchCase="'admin'">
                <a [routerLink]="['/okr/okr-setting/setting-time-frame']"> <i class="fa fa-cog"></i> Manage Time Frames</a>
              </li>
              <li *ngSwitchCase="'manager'">
                <a [routerLink]="['/okr/okr-setting/setting-time-frame']"> <i class="fa fa-cog"></i> Manage Time Frames</a>
              </li>
              <li *ngswitchdefault>
                <!-- display nothing for default -->
              </li>

            </div>


            <li *ngFor="let timeFrame of timeFrames" (click)="onSelectedTimeFrame(timeFrame)">{{timeFrame.time_frame_description}}</li>

            <!--<li>-->
              <!--<a>-->
                <!--<span class="label label-danger">ERR</span> Contrary to popular belief.-->
              <!--</a>-->
            <!--</li>-->

            <!--<li class="summary"><a href="#">See all notifications</a></li>-->
          </ul>
        </li>




        <li class="dropdown">
          <a href="login.html">
            <i class="pe-7s-upload pe-rotate-90"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
