<div class="normalheader ">

  <div class="hpanel">


    <div class="panel-body">

      <a class="small-header-action" >
        <div class="clip-header">
          <i class="fa fa-arrow-up"></i>
        </div>
      </a>



      <div class="profile-container" >

        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12">
                <h1> {{companyinfo.company_name}} </h1>
                <h4> Members : {{toalMemberNumber}} </h4>
              </div>
            </div>
            <br>
            <div class="row">

              <div class="col-sm-3">
                <div class="info-title">Contact</div>
              </div>

              <div class="col-sm-9">
                <div class="multi-line">
                  <span><i class="fa fa-envelope"></i> <a href="mailto:{{companyinfo.company_email}}">{{companyinfo.company_email}}</a> </span>
                </div>
              </div>


              <div class="col-sm-3">
                <div class="info-title">Phone</div>
              </div>

              <div class="col-sm-9">
                <div class="multi-line">
                  <span><i class="fa fa-phone"></i> <a href="tel:{{companyinfo.company_phone}}">{{companyinfo.company_phone}}</a> </span>
                </div>
              </div>



              <div class="col-sm-3">
                <div class="info-title">Address</div>
              </div>

              <div class="col-sm-9">
                <div class="multi-line">

                  <div class=""><i class="fa fa-globe"></i> <a href="http://maps.google.com/?q={{companyinfo.company_address}}">{{companyinfo.company_address}}</a>
                  </div>


                </div>
              </div>


            </div>







          </div>



          <div>
            <div>

            </div>
          </div>



          <div class="horizontal-seperator pull-right"><div class="horizontal-seperator"></div></div>

          <div class="okr-info-wrapper col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="row">

              <div class="okr-infor-container col-md-4 col-sm-4 col-xs-4">
                <div class="okr-infor-number okr-infor-blue"><span >{{overallProgressNumber}}</span><span >%</span></div>
                <div class="okr-infor-label">Overall Progress</div>
              </div>

              <div class="okr-infor-container col-md-4 col-sm-4 col-xs-4">
                <div class="okr-infor-number okr-infor-green"><span >{{toalGoalsNumber}}   </span> <span > </span> </div>
                <div class="okr-infor-label">Overall Goals</div>
              </div>

              <div class="okr-infor-container col-md-4 col-sm-4 col-xs-4">
                <div class="okr-infor-number okr-infor-red"><span >33</span><span >D</span></div>
                <div class="okr-infor-label">Last Update</div>
              </div>

            </div>

            <!--<div class="row">-->
            <!--Time Frame select-->
            <!--</div>-->

          </div>




        </div>


      </div>


    </div>

  </div>
</div>



<!--context-->


<div class="content animate-panel ">

  <div class="row">
    <div class="col-lg-12">
      <div class="hpanel">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab-1">Objectives & Key Results</a></li>
          <li class=""><a data-toggle="tab" href="#tab-2">Activities</a></li>
          <li class=""><a data-toggle="tab" href="#tab-3">Teams</a></li>
        </ul>

        <div class="tab-content">

          <div id="tab-1" class="tab-pane active">
            <div class="panel-body">


              <app-company-okrs>
                <div class="spinner">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                  <div class="rect4"></div>
                  <div class="rect5"></div>
                </div>
              </app-company-okrs>

            </div>

          </div>


          <div id="tab-2" class="tab-pane">
            <div class="panel-body">

              <app-company-activity>
                <div class="spinner">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                  <div class="rect4"></div>
                  <div class="rect5"></div>
                </div>


              </app-company-activity>



            </div>
          </div>


          <div id="tab-3" class="tab-pane">
            <div class="panel-body">
              <app-company-teams>
                <div class="spinner">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                  <div class="rect4"></div>
                  <div class="rect5"></div>
                </div>

              </app-company-teams>
            </div>

          </div>

        </div>

      </div>
    </div>




  </div>




</div>
