<div class="row"   >
  <div style="padding-right: 20px;">
    <button type="button" class="btn btn-outline btn-primary pull-right" (click)="manageTeamMemberButton()"> Team Member Management </button>
  </div>
</div>



<div class="row">
  <div class="col-lg-12">
    <div class="hpanel">

      <div class="panel-heading">
        <div class="panel-tools">

        </div>
      </div>


      <div class="panel-body" style="display: block; border-top:1px solid #e4e5e7;">
        <div class="table-responsive">
          <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
            <thead>
            <tr>

              <th >Name</th>
              <th >Email</th>


            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let user of teamMembers">
              <!--truncate :-->
              <td> <a [routerLink]="['/okr/okr-users/user/',user.user_id]" [queryParams]="{ timeFrameId: currentTimeFrameId }"> {{ user.first_name + ' - ' + user.last_name  }}  </a></td>
              <td><a href="mailto:{{user.email}}"> {{ user.email}}</a></td>



            </tr>

            </tbody>
          </table>


        </div>

      </div>
      <div class="panel-footer" style="display: block;">
        Table - {{users.length}} rows
      </div>
    </div>

  </div>

</div>







<!-- Modal For team Member -->


<div bsModal #teamMembersModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [config]="{backdrop: 'static'}">
  <div class="modal-dialog  ">
    <div class="color-line"></div>
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title pull-left"> Objective Review  </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeTeamMembersModalButton()">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <div class="stage">

          <label >Team Members</label>
          <div class="palos-input block" >


            <ss-multiselect-dropdown [options]="membersDropdownListOptions"
                                     [texts]="myTexts"
                                     [settings]="teamMemberSelectorSettings"
                                     [(ngModel)]="memberSelectedOptions" #teamMemberSelector>

            </ss-multiselect-dropdown>



          </div>



        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeTeamMembersModalButton()"> Close</button>
        <button type="button" class="btn btn-primary" autofocus (click)="modalSaveChangeButton()" > Save changes</button>
      </div>


    </div>
  </div>
</div>


