



<div class="content animate-panel ">
  <div class="row">
    <div class="col-lg-4">
      <div class="hpanel "  [ngClass]="displayStyle">


        <div class="panel-body ">
          <div class="pull-right text-right">

          </div>
          <h3 style=" word-wrap: break-word;">{{goalInfo.goal_name}}</h3>


          <dl>
            <dt>Goal Description: </dt>
            <dd>{{goalInfo.goal_description}} </dd>
            <dt>Goal Status: </dt>
            <dd>   <span class="label" [ngClass]="labelStyle" >{{goalInfo.goal_status}}</span>  </dd>
            <!--<dt>Email: </dt>-->
            <!--<dd><i class="fa fa-envelope"></i> <a href="mailto:{{displayUserInfoData.email}}">{{displayUserInfoData.email}}</a> </dd>-->
            <!--<dt>Phone Number: </dt>-->
            <!--<dd><i class="fa fa-phone"></i> <a>{{displayUserInfoData.mobile_number}}</a> </dd>-->
          </dl>
          <div class="pull-right" *ngIf="isAdmin" ><a style="font-size:18px;" (click)="editGoalsButton(goalInfo)"><i class="fa fa-pencil-square-o"></i>Edit Goal</a></div>
        </div>

        <div class="panel-footer contact-footer">
          <div class="row">
            <div class="col-xs-6  border-right">

              <div class="okr-info-container">
                <div class="okr-info-number okr-info-blue font-extra-bold "><span > {{overallProgressNumber |   number : "1.0-2"}}</span><span >%</span></div>
                <div class="okr-info-label">Overall Progress</div>
              </div>
            </div>

            <div class="col-xs-6  border-right">

              <div class="okr-info-container">
                <div class="okr-info-number okr-info-green font-extra-bold "><span ></span> <span >{{totalObjectivesNumber}} </span> </div>
                <div class="okr-info-label">Overall Objectives</div>
              </div>

            </div>
            <!--<div class="col-sm-4 col-md-4">-->
            <!--<div class="okr-infor-container">-->
            <!--<div class="okr-infor-number okr-infor-red font-extra-bold"><span >33</span><span >D</span></div>-->
            <!--<div class="okr-infor-label">Last Update</div>-->
            <!--</div>-->
            <!--</div>-->
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-8">
      <div class="hpanel">



        <tabset #staticTabs>

          <!--<tab heading="Goal OKRs" (select)="loadGoalOKRsInformation()" >-->
          <tab heading="Goal OKRs"  >
            <div class="panel-body">

              <app-goal-okrs>


              </app-goal-okrs>
            </div>
          </tab>

          <tab heading="Activities" (select)="loadActivitiesInformation()">

            <div class="panel-body">
              <app-goal-activities> </app-goal-activities>
            </div>


          </tab>

          <tab heading="Teams" (select)="loadTeamsInformation()" >
            <div class="panel-body">
              <app-goal-teams> </app-goal-teams>
            </div>
          </tab>

        </tabset>

      </div>
    </div>

  </div>

</div>




<!--Goal Modal-->
<div bsModal #goalModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [config]="{backdrop: 'static'}">
  <div class="modal-dialog ">
    <div class="color-line"></div>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> {{modalTitle}} </h4>
        <!--<button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">-->
        <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
      </div>
      <div class="modal-body">
        <div class="stage">

          <div class="panel-body">

            <!--<form class="form-horizontal">-->
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-3 control-label">Goal Name</label>

                <div class="col-sm-9">
                  <input name="goalNameInputBoxValue" type="text" placeholder="Please enter your goal name" autocomplete="off" class="form-control" value="{{goalNameInputBoxValue}}"
                         #goalNameInput>
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Goal Description</label>
                <div class="col-sm-9">
              <textarea style="height: 85px" type="text"
                        placeholder="Please enter your goal description"
                        autocomplete="off" class="form-control"
                        name="goalDescriptionInputBoxValue"
                        value="{{goalDescriptionInputBoxValue}}" #goalDescriptionInput></textarea>

                </div>
              </div>

              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Select A Time Frame</label>
                <div class="col-sm-9">
                  <ng-select #timeFrameSelector [allowClear]="true" [items]="timeFrameDropDownListOptions" [(ngModel)]="selectedTimeFrame"
                             placeholder="Select a Time Frame">
                  </ng-select>
                </div>
              </div>

              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Select A Tag</label>
                <div class="col-sm-9">
                  <ng-select #tagSelector [allowClear]="true"
                             [items]="tagDropDownListOptions"

                             [(ngModel)]="selectedTag"
                             placeholder="Select a Tag">
                  </ng-select>
                </div>
              </div>

            </div>
            <!--</form>-->

          </div>




          <!--</form>-->
        </div>
      </div> <!--EndgoalModalodal Body-->
      <div class="modal-footer">


        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeGoalModal()">Close</button>
        <button type="button" class="btn btn-primary" autofocus (click)="modalSaveChangeButton(goalNameInput.value,goalDescriptionInput.value);"> Save changes</button>



      </div>
    </div>
  </div>
</div>


