

  <ul class="mailbox-list">
    <li  routerLinkActive="active">
      <a routerLink="/okr/okr-setting/setting-company-info">
        <i class="fa fa-building-o text-primary"></i> Company information
      </a>
    </li>

      <li  routerLinkActive="active">
          <a routerLink="/okr/setting-self-info">
              <i class="fa fa-address-card text-primary"></i> User Profile
          </a>
      </li>

      <li  routerLinkActive="active">
          <a routerLink="/okr/user-management">
              <i class="fa fa-server text-primary"></i> User Management
          </a>
      </li>


  </ul>
  <hr>

  <ul class="mailbox-list">

      <li  routerLinkActive="active">
          <a routerLink="/okr/okr-setting/setting-time-frame"><i class="fa fa-calendar text-primary"></i> Time Frame</a>
      </li>

    <li  routerLinkActive="active">
      <a   routerLink="/okr/okr-setting/setting-team"><i class="fa fa-users text-primary"></i> Team </a>
    </li>

    <li  routerLinkActive="active">
      <a routerLink="/okr/okr-setting/setting-goal"><i class="fa fa-star text-primary"></i> Goal </a>
    </li>

    <li  routerLinkActive="active">
      <a routerLink="/okr/okr-setting/setting-objective"><i class="fa fa-flag text-primary"></i> Objective </a>
    </li>

    <li  routerLinkActive="active">
      <a routerLink="/okr/okr-setting/setting-key-result"><i class="fa fa-check-square-o text-primary"></i> key Result </a>
    </li>
  </ul>



