<div class="col-md-3">
  <div class="hpanel">
    <div class="panel-body">

      <ul class="mailbox-list">
        <li >
          <a routerLink="/okr/okr-setting">
            <i class="fa fa-id-card-o"></i> Company information
          </a>
        </li>
        <li>
          <a routerLink="/okr/okr-setting/setting-time-frame"><i class="fa fa-paper-plane"></i> Time Frame</a>
        </li>
      </ul>
      <hr>

      <ul class="mailbox-list">
        <li>
          <a routerLink="/okr/okr-setting/setting-team"><i class="fa fa-tag text-success"></i> Team </a>
        </li>

        <li>
          <a routerLink="/okr/okr-setting/setting-goal"><i class="fa fa-flag text-primary"></i> Goal </a>
        </li>
        <li>
          <a routerLink="/okr/okr-setting/setting-objective"><i class="fa fa-flag text-primary"></i> Objective </a>
        </li>
        <li>
          <a routerLink="/okr/okr-setting/setting-key-result"><i class="fa fa-flag text-primary"></i> key Result </a>
        </li>
      </ul>

      <hr>

      <ul class="mailbox-list">

        <li>
          <a href="#"><i class="fa fa-info-circle"></i> Support</a>
        </li>
      </ul>


    </div>

  </div>
</div>
