<div class="col-md-3">
  <div class="hpanel">
    <div class="panel-body">

      <ul class="mailbox-list">
        <li >
          <a routerLink="/okr/okr-setting">
            <span class="pull-right">12</span>
            <i class="fa fa-envelope"></i> Inbox
          </a>
        </li>
        <li>
          <a routerLink="/okr/okr-setting/setting-time-frame"><i class="fa fa-paper-plane"></i> Time Frame</a>
        </li>
      </ul>
      <hr>

      <ul class="mailbox-list">
        <li>
          <a href="#"><i class="fa fa-tag text-success"></i> Promos</a>
        </li>

        <li>
          <a href="#"><i class="fa fa-flag text-primary"></i> Updates</a>
        </li>
      </ul>

      <hr>

      <ul class="mailbox-list">
        <li>
          <a href="#"><i class="fa fa-gears"></i> Settings</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-info-circle"></i> Support</a>
        </li>
      </ul>


    </div>

  </div>
</div>
