﻿<!--<div class="row">-->
<!--<div style="padding-right: 20px;">-->
<!--<button type="button" class="btn w-xs btn-primary pull-right" (click)="addObjectiveButton()"><i class="fa fa-plus"></i> Add New Objective</button>-->
<!--</div>-->
<!--</div>-->

<div class="row" *ngIf="selfUserInfoData.user_id==targetUserInfoData.user_id"><!-- check the viewing user the 'addObjectiveButton' -->
  <div style="padding-right: 20px;">
    <button type="button" class="btn w-xs btn-primary pull-right" (click)="addObjectiveButton()"><i class="fa fa-plus"></i> Add Personal Objective</button>
  </div>
</div>


<div class="row">
  <div class="OKRs-Cards" style="margin-top: 2%">
    <div class="row" style="margin-bottom:20px;">
      <div class="col-md-12">


        <!--start Of project-->
        <div class="row projects" *ngFor=" let personalObjective of personalObjectives" style="padding-left: 20px; padding-right: 20px;">
          <div class="col-lg-12">
            <!--START COL-LG-12-->






            <div class="ngswitch" [ngSwitch]="personalObjective.objective_status">

              <div *ngSwitchCase="'Complete'">
                <!-- START Yellow/Warning HPANEL-->
                <div class="hpanel hgreen">
                  <div class="panel-body">
                    <span class="label label-success pull-right">{{personalObjective.objective_status}}</span>
                    <div class="row">
                      <div class="col-sm-8">
                        <h4><a [routerLink]="['/okr/okr-objective/objective/',personalObjective.objective_id]"> {{personalObjective.objective_name}}</a></h4>

                        <p>
                          {{personalObjective.objective_description}}
                        </p>

                        <div class="row">
                          <div class="col-sm-3">
                            <div class="project-label">DEADLINE</div>
                            <small>{{personalObjective.time_frame_end | date:'dd-MM-y'}}</small>
                          </div>
                          <div class="col-sm-9">
                            <div class="project-label">PROGRESS</div>
                            <div class="progress m-t-xs full progress-small">
                              <div [ngStyle]="{'width':  personalObjective.objective_progress_status+'%'} " aria-valuemax="100" aria-valuemin="0" aria-valuenow="personalObjective.objective_progress_status" role="progressbar" class=" progress-bar progress-bar-success">
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4 project-info">
                        <div class="project-action m-t-md">
                          <div class="btn-group">
                            <button class="btn btn-xs btn-default" [routerLink]="['/okr/okr-goal/goal/',personalObjective.objective_id]"> View</button>
                            <button class="btn btn-xs btn-default" (click)="editObjectiveButton(objective)"> Edit</button>
                            <button class="btn btn-xs btn-default"(click)="deleteObjectiveButton(objective)"> Delete</button>
                          </div>
                        </div>
                        <div class="project-value">
                          <h2 class="text-success">
                            {{personalObjective.objective_progress_status}} %
                          </h2>
                        </div>
                        <div class="project-people">
                          <img alt="logo" class="img-circle" src="images/a1.jpg">

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-footer">
                    Additional information about project in footer
                  </div>


                </div>
                <!-- END green/complete HPANEL-->
              </div>
              <!--End of ngSwitchcomplete-->


              <div *ngSwitchCase="'Warning'">
                <!-- START Yellow/Warning HPANEL-->
                <div class="hpanel hyellow">
                  <div class="panel-body">
                    <span class="label label-warning pull-right">{{personalObjective.objective_status}}</span>
                    <div class="row">
                      <div class="col-sm-8">
                        <h4><a [routerLink]="['/okr/okr-goal/goal/',personalObjective.objective_id]"> {{personalObjective.objective_name}}</a></h4>

                        <p>
                          {{personalObjective.objective_description}}
                        </p>

                        <div class="row">
                          <div class="col-sm-3">
                            <div class="project-label">DEADLINE</div>
                            <small>{{ personalObjective.time_frame_end | date:'dd-MM-y'}}</small>
                          </div>
                          <div class="col-sm-9">
                            <div class="project-label">PROGRESS</div>
                            <div class="progress m-t-xs full progress-small">
                              <div [ngStyle]="{'width':  personalObjective.objective_progress_status+'%'} " aria-valuemax="100" aria-valuemin="0" aria-valuenow="personalObjective.objective_progress_status" role="progressbar" class=" progress-bar progress-bar-warning">
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4 project-info">
                        <div class="project-action m-t-md">
                          <div class="btn-group">
                            <button class="btn btn-xs btn-default" [routerLink]="['/okr/okr-goal/goal/',personalObjective.objective_id]"> View</button>
                            <button class="btn btn-xs btn-default" (click)="editObjectiveButton(objective)"> Edit</button>
                            <button class="btn btn-xs btn-default"(click)="deleteObjectiveButton(objective)"> Delete</button>
                          </div>
                        </div>
                        <div class="project-value">
                          <h2 class="text-warning">
                            {{personalObjective.objective_progress_status}} %
                          </h2>
                        </div>
                        <div class="project-people">
                          <img alt="logo" class="img-circle" src="images/a1.jpg">

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-footer">
                    Additional information about project in footer
                  </div>


                </div>
                <!-- END Yellow/Warning HPANEL-->
              </div>
              <!--End of ngSwitchWarning-->




              <!--Start of ngSwitch Risk-->
              <div *ngSwitchCase="'Risk'">
                <!-- START hred/Risk HPANEL-->
                <div class="hpanel hred">
                  <div class="panel-body">
                    <span class="label label-danger pull-right">{{personalObjective.objective_status}}</span>
                    <div class="row">
                      <div class="col-sm-8">
                        <h4><a [routerLink]="['/okr/okr-goal/goal/',personalObjective.objective_id]"> {{personalObjective.objective_name}}</a></h4>

                        <p>
                          {{personalObjective.objective_description}}
                        </p>

                        <div class="row">

                          <div class="col-sm-3">
                            <div class="project-label">DEADLINE</div>
                            <small>{{ personalObjective.time_frame_end | date:'dd-MM-y'}}</small>
                          </div>

                          <div class="col-sm-9">
                            <div class="project-label">PROGRESS</div>
                            <div class="progress m-t-xs full progress-small">
                              <div [ngStyle]="{'width':  personalObjective.objective_progress_status+'%'} " aria-valuemax="100" aria-valuemin="0" aria-valuenow="personalObjective.objective_progress_status" role="progressbar" class=" progress-bar progress-bar-danger">
                              </div>


                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="col-sm-4 project-info">
                        <div class="project-action m-t-md">
                          <div class="btn-group">
                            <button class="btn btn-xs btn-default" [routerLink]="['/okr/okr-goal/goal/',personalObjective.objective_id]"> View</button>
                            <button class="btn btn-xs btn-default" (click)="editObjectiveButton(objective)"> Edit</button>
                            <button class="btn btn-xs btn-default"(click)="deleteObjectiveButton(objective)"> Delete</button>
                          </div>
                        </div>
                        <div class="project-value">
                          <h2 class="text-danger">
                            {{personalObjective.objective_progress_status}} %
                          </h2>
                        </div>
                        <div class="project-people">
                          <img alt="logo" class="img-circle" src="images/a1.jpg">

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-footer">
                    Additional information about project in footer
                  </div>


                </div>
                <!-- END Yellow/Warning HPANEL-->
              </div>

              <!--End of NgSwitch Risk-->




              <div *ngSwitchDefault>
                <!--Test Panel-->
                <div class="hpanel hblue">
                  <div class="panel-body">
                    <div class="stats-title pull-left">
                      <h4>Users Activity</h4>
                    </div>
                    <div class="stats-icon pull-right">
                      <!--<i class="pe-7s-share fa-4x"></i>-->
                      <span class="label label-info pull-right"> nonono </span> <!--Tag Here-->
                    </div>
                    <div class="m-t-xl">
                      <h3 class="m-b-xs">210</h3>
                      <span class="font-bold no-margins">
                        Social users
                    </span>

                      <div class="progress m-t-xs full progress-small">
                        <div style="width: 76.343%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class=" progress-bar progress-bar-info">
                          <span class="sr-only">35% Complete (success)</span>
                        </div>
                      </div>

                      <div class="row">

                        <div class="pull-right" style="margin-right: 10%">
                          <small class="stats-label">% New Visits</small>
                          <h4>76.43%</h4>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel-footer">


                  </div>

                  <div class="panel-body list">
                    <div class="table-responsive project-list">
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <th>Key Result</th>
                          <th>Progress</th>
                          <th>%</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>Contract with Zender Company

                          </td>
                          <td>
                            <div style="width: 20%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class=" progress-bar progress-bar-info">
                              <span class="sr-only">35% Complete (success)</span>
                            </div>
                          </td>
                          <td><strong>20%</strong></td>

                        </tr>
                        <tr>
                           <td>There are many variations of passages
                          </td>
                          <td>
                            <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class=" progress-bar progress-bar-info">
                              <span class="sr-only">35% Complete (success)</span>
                            </div>
                          </td>
                          <td><strong>40%</strong></td>
                        </tr>

                        <tr>
                          <td>Contrary to popular belief

                          </td>
                          <td>
                            <div style="width: 75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class=" progress-bar progress-bar-info">
                              <span class="sr-only">35% Complete (success)</span>
                            </div>
                          </td>
                          <td><strong>75%</strong></td>
                        </tr>
                        <tr>
                          <td>Gamma project
                          </td>
                          <td>
                            <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class=" progress-bar progress-bar-info">
                              <span class="sr-only">35% Complete (success)</span>
                            </div>
                          </td>
                          <td><strong>16%</strong></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="panel-footer">
                    This is Key result 1
                  </div>
                </div>


                <!--End of test panel-->






                <!-- START GREEN HPANEL-->
                <div class="hpanel hblue">
                  <div class="panel-body">
                    <span class="label label-info pull-right"></span> <!--Tag Here-->
                    <div class="row">
                      <div class="col-sm-8">
                        <h4><a [routerLink]="['/okr/okr-goal/goal/',personalObjective.objective_id]"> {{personalObjective.objective_name}}</a></h4>

                        <p>
                          {{personalObjective.objective_description}}
                        </p>

                        <div class="row">


                          <div class="col-sm-3">
                            <div class="project-label">DEADLINE</div>
                            <small>{{personalObjective.time_frame_end | date:'dd-MM-y'}}</small>
                          </div>

                          <div class="col-sm-9">
                            <div class="project-label">PROGRESS</div>
                            <div class="progress m-t-xs full progress-small">
                              <div [ngStyle]="{'width':  personalObjective.objective_progress_status+'%'} " aria-valuemax="100" aria-valuemin="0" aria-valuenow="personalObjective.objective_progress_status" role="progressbar" class=" progress-bar progress-bar-info">
                              </div>
                            </div>
                          </div>
                        </div>



                      </div>
                      <div class="col-sm-4 project-info">
                        <div class="project-action m-t-md">
                          <div class="btn-group">
                            <button class="btn btn-xs btn-default" [routerLink]="['/okr/okr-goal/goal/',personalObjective.objective_id]"> View</button>
                            <button class="btn btn-xs btn-default" (click)="editGoalsButton(objective)"> Edit</button>
                            <button class="btn btn-xs btn-default"(click)="deleteGoalButton(objective)"> Delete</button>
                          </div>
                        </div>
                        <div class="project-value">
                          <h2 class="text-info">
                            {{personalObjective.objective_progress_status}} %
                          </h2>
                        </div>
                        <div class="project-people">
                          <img alt="logo" class="img-circle" src="images/a1.jpg">

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-footer">
                    Additional information about project in footer
                  </div>


                </div>
                <!-- END GREEN HPANEL-->
              </div>
              <!--End of ngSwitchDefault-->
            </div>
            <!--Eng of NG Switch-->

          </div>
          <!--END COL-LG-12-->

        </div>
        <!--End of Project/ Personal Objectives-->



        <div class="hr-line-dashed"></div>



      </div>
      <!--END COL-MD-12-->
    </div>
    <!--END ROW -->
  </div>
  <!-- END OKRs-Cards-->
</div>
<!--END ROW (TOP) -->








<!--Add New Record modal module-->

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #modal>
  <div class="color-line"></div>
  <modal-header [show-close]="true">
    <h4 class="modal-title"> {{modalTitle}}  </h4>
  </modal-header>
  <modal-body>
    <div class="stage">
      <div class="panel-body">

        <!--<form class="form-horizontal">-->
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label">Objective Name (*)</label>

            <div class="col-sm-9">
              <input name="objectiveNameInputBoxValue" type="text"
                     placeholder="Please enter your objective name"
                     autocomplete="off" class="form-control"
                     [(ngModel)]="objectiveNameInputBoxValue"

                     #objectiveNameInput>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Objective Description  (*)</label>
            <div class="col-sm-9">
              <textarea style="height: 85px" type="text"
                        placeholder="Please enter your objective description"
                        autocomplete="off" class="form-control"
                        name="goalDescriptionInputBoxValue"
                        [(ngModel)]="objectiveDescriptionInputBoxValue"
                        #objectiveDescriptionInput>
              </textarea>

            </div>
          </div>

          <div class="hr-line-dashed"></div>


          <div class="form-group">
            <label class="col-sm-3 control-label">Select A Goal (Optional)</label>
            <div class="col-sm-9">
              <ss-multiselect-dropdown [options]="goalsDropDownListOptions"
                                       [texts]="goalsSelectorTexts"
                                       [settings]="goalsSelectorSettings"
                                       [(ngModel)]="selectedGoal" #goalSelector>

              </ss-multiselect-dropdown>

            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Select A Tag</label>
            <div class="col-sm-9">
              <ng-select #tagSelector [allowClear]="true"
                         [items]="tagDropdownListOptions"
                         [disabled]="disabled"
                         [(ngModel)]="selectedTag"
                         placeholder="Select a Tag">
              </ng-select>
            </div>
          </div>

        </div>
        <!--</form>-->

      </div>
    </div>

  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.close()">Close</button>
    <button type="button" class="btn btn-primary" autofocus (click)="modalSaveChangeButton();"> Save changes</button>
  </modal-footer>
</modal>



