
<div class="login-container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center m-b-md">
        <h2>Login</h2>
        <!--<small>This is the best app ever!</small>-->
      </div>
      <div class="hpanel">
        <div class="panel-body">


          <!--<form [formGroup]="loginForm" (submit)="loginForm.valid && doLogin($event)" loginForm>-->
          <form [formGroup]="loginForm" (submit)="loginForm.valid && doLogin()" loginForm>
            <div class="form-group">
              <label  class="control-label"  for="email">Email</label>
              <input formControlName="email" type="text"  class="myform_control"  id="email"  name="email"  title="Please enter you email" placeholder="email@address.com" required/>
              <span class="help-block small">Your unique email address to app</span>
              <app-control-messages [control]="loginForm.controls.email" required></app-control-messages>
            </div>
            <div class="form-group">
              <label class="control-label"   for="password">Password</label>
              <!--<input class="myform_control" formControlName="password" id="password" placeholder="******" title="Please enter your password" required/>-->
              <input formControlName="password" type="password" placeholder="******" required="" value="" name="password" id="password" class="myform_control" title="Please enter your password" required />
              <span class="help-block small">Your strong password</span>
              <app-control-messages [control]="loginForm.controls.password"></app-control-messages>
            </div>
            <button [disabled]="loading" class="btn btn-success btn-block" type="submit">Login</button>
            <!--<img *ngIf="loading" src="../../assets/images/loading.gif" />-->
            <img *ngIf="loading" src="../../assets/images/loading-bars.svg" />
            <a [routerLink]="['/register']" class="btn btn-default btn-block">Register</a>
          </form>



        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <strong>OKRS</strong> - Business assist system
      <br/> {{today | date: 'yyyy' }} Copyright Rock IT Cloud
    </div>
  </div>
</div>

