
<div class="login-container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center m-b-md">
        <h2>Login</h2>
        <!--<small>This is the best app ever!</small>-->
      </div>
      <div class="hpanel">
        <div class="panel-body">


          <!--<form [formGroup]="loginForm" (submit)="loginForm.valid && doLogin($event)" loginForm>-->
          <form [formGroup]="loginForm" (submit)="loginForm.valid && doLogin()" loginForm>


            <div class="form-group">

              <label  class="control-label"  for="email">Email</label>


              <input formControlName="email" type="text"  class="myform_control"  id="email"  name="email"  title="Please enter you email" placeholder="email@address.com" required/>
              <span class="help-block small">Your unique email address to app</span>
              <app-control-messages [control]="loginForm.controls.email" required></app-control-messages>


            </div>



            <div class="form-group">
              <label class="control-label"   for="password">Password</label>
              <!--<input class="myform_control" formControlName="password" id="password" placeholder="******" title="Please enter your password" required/>-->
              <input formControlName="password" type="password" placeholder="******" required="" value="" name="password" id="password" class="myform_control" title="Please enter your password" required />
              <span class="help-block small">Your strong password</span>
              <app-control-messages [control]="loginForm.controls.password"></app-control-messages>
            </div>
            <button [disabled]="loading" class="btn btn-success btn-block" type="submit">Login</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/register']" class="btn btn-default btn-block">Register</a>


          </form>



        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <strong>OKRS</strong> - Business assist system
      <br/> {{today | date: 'yyyy' }} Copyright Rock IT Cloud
    </div>
  </div>
</div>

