<!-- Header -->
<div id="header">
  <div class="color-line">
  </div>

  <div id="logo" class="light-version">
        <span>
          {{companyInfo.company_name}} <!--This parameter located at app-config.ts -->
        </span>
  </div>

  <nav role="navigation">

    <div class="header-link hide-menu " ><i class="fa fa-bars"></i></div>
    <!--<div class="header-link" (click)="toggleNavigation()"><i class="fa fa-bars"></i></div>-->

    <div class="small-logo">
      <span class="text-primary">HOMER APP</span>
    </div>
    <form role="search" class="navbar-form-custom" method="post" action="#">
      <div class="form-group">
        <!--<input type="text" placeholder="Search something special" class="form-control" name="search">-->
      </div>
    </form>
    <div class="mobile-menu">
      <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
        <i class="fa fa-chevron-down"></i>
      </button>
      <!-- Mobile Phone View Menu -->
      <div class="collapse mobile-navbar" id="mobile-collapse">
        <ul class="nav navbar-nav">


          <li routerLinkActive="router-link-active" >
            <a [routerLink]="['/home']" [queryParams]="{ timeFrameId: selectedTimeFrame.time_frame_id }" >
              <span class="nav-label">Home</span>
              <!--<span class="label label-success pull-right">v.1</span>-->
            </a>
          </li>


          <li routerLinkActive="active"><a [routerLink]="['/okr/okr-company']" [queryParams]="{ timeFrameId: selectedTimeFrame.time_frame_id }" >OKRs Company</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/okr/okr-goals']"  [queryParams]="{ timeFrameId: selectedTimeFrame.time_frame_id }">OKRs Goals</a></li>

          <!--Router parameter 1-->
          <li routerLinkActive="active"><a [routerLink]="['/okr/okr-users/user/',selfInfo.user_id]"  [queryParams]="{ timeFrameId: selectedTimeFrame.time_frame_id }">OKRs Users</a></li>


          <li routerLinkActive="active" ><a [routerLink]="['/okr/okr-teams']" [queryParams]="{ timeFrameId: selectedTimeFrame.time_frame_id }" >OKRs Team</a></li>


          <li routerLinkActive="active" ><a [routerLink]="['/okr/okr-setting/setting-time-frame']">ORKs Setting</a></li>

          <li>
            <a class="" (click)="logout()">Logout</a>
          </li>

        </ul>
      </div>
    </div>


    <!-- Desktop -->
    <div class="navbar-right">
      <ul class="nav navbar-nav no-borders">

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <div class="row" style="margin-top: -12px">
              <div style="font-size: 15px; text-align: center">Time Frame</div>
            </div>
            <div style="font-size: 20px">
              <i class="fa fa-calendar-check-o"></i>
              <span style="word-wrap: break-word"> {{selectedTimeFrame.time_frame_description}} </span>
            </div>

          </a>

          <ul class="dropdown-menu hdropdown notification flipInX" style="height:300px; overflow-y: scroll;">


            <div class="ngswitch" [ngSwitch]="selfInfo.role"><!-- Check the User permission -->

              <li *ngSwitchCase="'admin'">
                <a [routerLink]="['/okr/okr-setting/setting-time-frame']"> <i class="fa fa-cog"></i> Manage Time Frames</a>
              </li>
              <li *ngSwitchCase="'manager'">
                <a [routerLink]="['/okr/okr-setting/setting-time-frame']"> <i class="fa fa-cog"></i> Manage Time Frames</a>
              </li>
              <li *ngswitchdefault>
                <!-- display nothing for default -->
              </li>

            </div>

            <li *ngFor="let timeFrame of timeFrames" (click)="onSelectedTimeFrame(timeFrame)">{{timeFrame.time_frame_description}}</li>

          </ul>
        </li>






        <li class="dropdown">
          <a (click)="logout()">
            <i class="pe-7s-upload pe-rotate-90"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>




<!--Navigation-->

<aside id="menu">
  <div id="navigation">
    <div class="profile-picture">

      <!--<a href="index.html">-->
      <!--<ng2-letter-avatar avatar-data='{{letterAvatar}}' ></ng2-letter-avatar>-->
      <!--<img src="images/profile.jpg" class="img-circle m-b" alt="logo">-->
      <!--</a>-->

      <div class="stats-label text-color">
        <span class="font-extra-bold font-uppercase">{{selfInfo.first_name}} {{selfInfo.last_name}}</span>
      </div>
    </div>


    <!--start navigation menu-->

    <ul class="nav" id="side-menu">
      <li routerLinkActive="router-link-active" >
        <a [routerLink]="['/home']" [queryParams]="{ timeFrameId: selectedTimeFrame.time_frame_id }" >
          <span class="nav-label">Home</span>

        </a>
      </li>


      <li [ngClass]="{active: activeRoute('okr')}">
        <a >
          <span class="nav-label">OKR System</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('okr')}">
          <li  [ngClass]="{active: activeRoute('okr-company')}"><a [routerLink]="['/okr/okr-company']" [queryParams]="{ timeFrameId: selectedTimeFrame.time_frame_id }" >OKRs Company</a></li>
          <li  [ngClass]="{active: activeRoute('okr-goals')}"><a [routerLink]="['/okr/okr-goals']"  [queryParams]="{ timeFrameId: selectedTimeFrame.time_frame_id }">OKRs Goals</a></li>
          <li  [ngClass]="{active: activeRoute('okr-users')}"><a [routerLink]="['/okr/okr-users/user/',selfInfo.user_id]"  [queryParams]="{ timeFrameId: selectedTimeFrame.time_frame_id }">OKRs Users</a></li>
          <li   [ngClass]="{active: activeRoute('okr-teams')}"><a [routerLink]="['/okr/okr-teams']" [queryParams]="{ timeFrameId: selectedTimeFrame.time_frame_id }" >OKRs Team</a></li>
          <li   [ngClass]="{active: activeRoute('okr-setting')}"><a [routerLink]="['/okr/okr-setting/setting-company-info']" [queryParams]="{ timeFrameId: selectedTimeFrame.time_frame_id }" >ORKs Setting</a></li>


        </ul>
      </li>


      <!--<li routerLinkActive="active" >-->
      <!--<a routerLink="/aboutus"> <span class="nav-label">About Us</span></a>-->
      <!--</li>-->

    </ul>

  </div>
</aside>
