﻿

<div class="normalheader ">

  <div class="hpanel">


    <div class="panel-body">

      <a class="small-header-action">
        <div class="clip-header">
          <i class="fa fa-arrow-up"></i>
        </div>
      </a>


      <h2 class="font-light m-b-xs">
        Teams
      </h2>

      <small> Teams OverView</small>


    </div>

  </div>
</div>

<div class="content animate-panel">



  <div class="row">
    <div class="col-lg-12">
      <div class="hpanel">

        <div class="panel-heading">
          <div class="panel-tools">

          </div>
        </div>


        <div class="panel-body" style="display: block;border-top:1px solid #e4e5e7;">

          <div class="row" *ngIf="isAdmin" >
            <button  class="btn btn-outline btn-primary2 pull-right" [routerLink]="['/okr/okr-setting/setting-team']"> Team Management </button>
          </div>

          <div class="table-responsive">
            <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th style="width: 10%">Team Name</th>

                  <th style="width: 10%">Leader</th>
                  <th style="width: 20%">Members</th>
                  <th style="width: 50%">Status</th>

                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let tm of teams">
                  <!--truncate :-->
                  <td> <a [routerLink]="['/okr/okr-teams/team-detail/',tm.team_id]"   [queryParams]="{ timeFrameId: currentTimeFrameId }" > {{ tm.team_name }}  </a></td>
                  <td><a [routerLink]="['/okr/okr-users/user/',tm.team_leader_user_id]" [queryParams]="{ timeFrameId: currentTimeFrameId }"  > {{ tm.first_name + '  ' + tm.last_name }}</a></td>
                    <td>  <a *ngFor="let member of tm.teamMember_array | slice:0:4; let i=index"  [routerLink]="['/okr/okr-users/user/',member.user_id]" [queryParams]="{ timeFrameId: currentTimeFrameId }"  > {{member.first_name }} {{member.last_name }},  </a>

                        <a *ngIf="tm.teamMember_array.length > 4" [routerLink]="['/okr/okr-teams/team-detail/',tm.team_id]" [queryParams]="{ timeFrameId: currentTimeFrameId }"  >  .... </a>

                    </td>

                  <td>



                    <div class="m">


                        <div class="progress m-t-xs full ">


                            <div *ngIf="tm.team_progress_status >= 70 "
                                 [ngStyle]="{'width':  tm.team_progress_status+'%'} "
                                 aria-valuemax="100" aria-valuemin="0"
                                 role="progressbar" class="progress-bar progress-bar-success" >
                                <b>{{tm.team_progress_status | number : "1.0-2"}}%</b>
                            </div>

                            <div [ngStyle]="{'width':  tm.team_progress_status+'%'} "
                                 aria-valuemax="100" aria-valuemin="0"
                                 role="progressbar" class="progress-bar progress-bar-info" >

                                <b>{{tm.team_progress_status | number : "1.0-2"}}%</b>
                            </div>

                        </div>


                    </div>

                  </td>
                </tr>

              </tbody>
            </table>


          </div>

        </div>
        <div class="panel-footer" style="display: block;">
          Table - {{teamLength}} rows
        </div>
      </div>

    </div>

  </div>

</div>


