﻿

<div class="normalheader ">

  <div class="hpanel">


    <div class="panel-body">

      <a class="small-header-action">
        <div class="clip-header">
          <i class="fa fa-arrow-up"></i>
        </div>
      </a>


      <h2 class="font-light m-b-xs">
        Teams OverView
      </h2>

      <small>{{subPageTitle}}</small>


    </div>

  </div>
</div>

<div class="content animate-panel">



  <div class="row">
    <div class="col-lg-12">
      <div class="hpanel">

        <div class="panel-heading">
          <div class="panel-tools">

          </div>
        </div>


        <div class="panel-body" style="display: block;border-top:1px solid #e4e5e7;">
          <div class="table-responsive">
            Set A time Frame

            <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th style="width: 10%">Team Name</th>

                  <th style="width: 10%">Leader</th>
                  <th style="width: 20%">Members</th>
                  <th style="width: 50%">Status</th>

                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let tm of teams">
                  <!--truncate :-->
                  <td> <a [routerLink]="['/okr/okr-teams/team-detail/',tm.team_id]"> {{ tm.team_name }}  </a></td>
                  <td><a [routerLink]="['/okr/okr-users/user/',tm.team_leader_user_id]"> {{ tm.first_name + ' - ' + tm.last_name }}</a></td>
                  <td> {{'fff, fff, ffff, ffff, ffff' | dgTruncate :{limit: 3, trail: '...'} }}       </td>
                  <td>
                    <div class="m">
                      <div class="progress m-t-xs full progress-striped">
                        <div style="width: 75%" aria-valuemax="80" aria-valuenow="75" role="progressbar" class="progress-bar progress-bar-info">
                          75%
                        </div>
                      </div>
                    </div>

                  </td>
                </tr>

              </tbody>
            </table>


          </div>

        </div>
        <div class="panel-footer" style="display: block;">
          Table - {{teamLength}} rows
        </div>
      </div>

    </div>

  </div>

</div>


