<div class="row"  *ngIf="isAdmin" >
  <div style="padding-right: 20px;">
    <button type="button" class="btn w-xs btn-primary pull-right" (click)="addGoalButton()"><i class="fa fa-plus"></i> Add New Goal</button>
  </div>
</div>









<div class="row">
  <div class="OKRs-Cards" style="margin-top: 2%">
    <div class="row" style="margin-bottom:20px;">
      <div class="col-md-12">


        <!--start Of project-->
        <div class="row projects" *ngFor=" let goal of goals" style="padding-left: 20px; padding-right: 20px;">
          <div class="col-lg-12">
            <!--START COL-LG-12-->

            <div class="ngswitch" [ngSwitch]="goal.goal_status">



              <div *ngSwitchCase="'Complete'">
                <!-- START Yellow/Warning HPANEL-->
                <div class="hpanel hgreen">
                  <div class="panel-body">
                    <span class="label label-success pull-right">{{goal.goal_status}}</span>
                    <div class="row">
                      <div class="col-sm-8">
                        <h4><a [routerLink]="['/okr/okr-goals/goal/',goal.goal_id]"> {{goal.goal_name}}</a></h4>

                        <p>
                          {{goal.goal_description}}
                        </p>

                        <div class="row">
                          <div class="col-sm-3">
                            <div class="project-label">DEADLINE</div>
                            <small>{{goal.time_frame_end | date:'dd-MM-y'}}</small>
                          </div>
                          <div class="col-sm-9">
                            <div class="project-label">Goal Progress</div>
                            <div class="progress m-t-xs full progress-small">
                              <div [ngStyle]="{'width':  goal.goal_progress_status+'%'} " aria-valuemax="100" aria-valuemin="0" aria-valuenow="goal.goal_progress_status" role="progressbar" class=" progress-bar progress-bar-success">
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4 project-info">
                        <div class="project-action m-t-md">
                          <div class="btn-group">
                            <button class="btn btn-xs btn-default" (click)="reviewGoalButton(goal)" > Review</button>

                            <button *ngIf="isAdmin" class="btn btn-xs btn-default" [routerLink]="['/okr/okr-goals/goal/',goal.goal_id]"> Details </button>
                            <button *ngIf="isAdmin"  class="btn btn-xs btn-default" (click)="editGoalsButton(goal)"> Edit</button>
                            <button *ngIf="isAdmin"  class="btn btn-xs btn-default"(click)="deleteGoalButton(goal)"> Delete</button>
                          </div>
                        </div>
                        <div class="project-value">
                          <h2 class="text-success">
                            {{goal.goal_progress_status | number : "1.0-2"}} %
                          </h2>
                        </div>
                        <div class="project-people">
                          <!-- <img alt="logo" class="img-circle" src="images/a1.jpg">-->

                        </div>
                      </div>
                    </div>
                  </div>

                  <!--<div class="panel-footer">-->
                  <!--Additional information about project in footer-->
                  <!--</div>-->


                </div>
                <!-- END green/complete HPANEL-->
              </div>
              <!--End of ngSwitchcomplete-->


              <div *ngSwitchCase="'Warning'">
                <!-- START Yellow/Warning HPANEL-->
                <div class="hpanel hyellow">
                  <div class="panel-body">
                    <span class="label label-warning pull-right">{{goal.goal_status}}</span>
                    <div class="row">
                      <div class="col-sm-8">
                        <h4><a [routerLink]="['/okr/okr-goals/goal/',goal.goal_id]"> {{goal.goal_name}}</a></h4>

                        <p>
                          {{goal.goal_description}}
                        </p>

                        <div class="row">
                          <div class="col-sm-3">
                            <div class="project-label">DEADLINE</div>
                            <small>{{ goal.time_frame_end | date:'dd-MM-y'}}</small>
                          </div>
                          <div class="col-sm-9">
                            <div class="project-label">Goal Progress</div>
                            <div class="progress m-t-xs full progress-small">
                              <div [ngStyle]="{'width':  goal.goal_progress_status+'%'} " aria-valuemax="100" aria-valuemin="0" aria-valuenow="goal.goal_progress_status" role="progressbar" class=" progress-bar progress-bar-warning">
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4 project-info">
                        <div class="project-action m-t-md">
                          <div class="btn-group">
                            <button class="btn btn-xs btn-default" (click)="reviewGoalButton(goal)" > Review</button>
                            <button *ngIf="isAdmin"  class="btn btn-xs btn-default" [routerLink]="['/okr/okr-goals/goal/',goal.goal_id]"> Details </button>
                            <button *ngIf="isAdmin"  class="btn btn-xs btn-default" (click)="editGoalsButton(goal)"> Edit</button>
                            <button *ngIf="isAdmin"  class="btn btn-xs btn-default"(click)="deleteGoalButton(goal)"> Delete</button>
                          </div>
                        </div>
                        <div class="project-value">
                          <h2 class="text-warning">
                            {{goal.goal_progress_status | number : "1.0-2"}} %
                          </h2>
                        </div>
                        <div class="project-people">
                          <!-- <img alt="logo" class="img-circle" src="images/a1.jpg">-->

                        </div>
                      </div>
                    </div>
                  </div>
                  <!---->
                  <!--<div class="panel-footer">-->
                  <!--Additional information about project in footer-->
                  <!--</div>-->


                </div>
                <!-- END Yellow/Warning HPANEL-->
              </div>
              <!--End of ngSwitchWarning-->




              <!--Start of ngSwitch Risk-->
              <div *ngSwitchCase="'Risk'">
                <!-- START hred/Risk HPANEL-->
                <div class="hpanel hred">
                  <div class="panel-body">
                    <span class="label label-danger pull-right">{{goal.goal_status}}</span>
                    <div class="row">
                      <div class="col-sm-8">
                        <h4><a [routerLink]="['/okr/okr-goals/goal/',goal.goal_id]"> {{goal.goal_name}}</a></h4>

                        <p>
                          {{goal.goal_description}}
                        </p>

                        <div class="row">

                          <div class="col-sm-3">
                            <div class="project-label">DEADLINE</div>
                            <small>{{ goal.time_frame_end | date:'dd-MM-y'}}</small>
                          </div>

                          <div class="col-sm-9">
                            <div class="project-label">Goal Progress</div>
                            <div class="progress m-t-xs full progress-small">
                              <div [ngStyle]="{'width':  goal.goal_progress_status+'%'} " aria-valuemax="100" aria-valuemin="0" aria-valuenow="goal.goal_progress_status" role="progressbar" class=" progress-bar progress-bar-danger">
                              </div>


                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="col-sm-4 project-info">
                        <div class="project-action m-t-md">
                          <div class="btn-group">
                            <button class="btn btn-xs btn-default" (click)="reviewGoalButton(goal)" > Review</button>
                            <button *ngIf="isAdmin"  class="btn btn-xs btn-default" [routerLink]="['/okr/okr-goals/goal/',goal.goal_id]"> Details </button>
                            <button *ngIf="isAdmin"  class="btn btn-xs btn-default" (click)="editGoalsButton(goal)"> Edit</button>
                            <button *ngIf="isAdmin"  class="btn btn-xs btn-default"(click)="deleteGoalButton(goal)"> Delete</button>
                          </div>
                        </div>
                        <div class="project-value">
                          <h2 class="text-danger">
                            {{goal.goal_progress_status | number : "1.0-2"}} %
                          </h2>
                        </div>
                        <div class="project-people">
                          <!-- <img alt="logo" class="img-circle" src="images/a1.jpg">-->

                        </div>
                      </div>
                    </div>
                  </div>

                  <!--<div class="panel-footer">-->
                  <!--Additional information about project in footer-->
                  <!--</div>-->


                </div>
                <!-- END Yellow/Warning HPANEL-->
              </div>

              <!--End of NgSwitch Risk-->




              <div *ngSwitchDefault>
                <!-- START GREEN HPANEL-->
                <div class="hpanel hblue">
                  <div class="panel-body">
                    <span class="label label-info pull-right"></span> <!--Tag Here-->
                    <div class="row">
                      <div class="col-sm-8">
                        <h4><a [routerLink]="['/okr/okr-goals/goal/',goal.goal_id]"> {{goal.goal_name}}</a></h4>

                        <p>
                          {{goal.goal_description}}
                        </p>

                        <div class="row">


                          <div class="col-sm-3">
                            <div class="project-label">DEADLINE</div>
                            <small>{{goal.time_frame_end | date:'dd-MM-y'}}</small>
                          </div>

                          <div class="col-sm-9">
                            <div class="project-label">Goal Progress</div>
                            <div class="progress m-t-xs full progress-small">
                              <div [ngStyle]="{'width':  goal.goal_progress_status+'%'} " aria-valuemax="100" aria-valuemin="0" aria-valuenow="goal.goal_progress_status" role="progressbar" class=" progress-bar progress-bar-info">
                              </div>
                            </div>
                          </div>
                        </div>



                      </div>
                      <div class="col-sm-4 project-info">
                        <div class="project-action m-t-md">
                          <div class="btn-group">
                            <button class="btn btn-xs btn-default" (click)="reviewGoalButton(goal)" > Review</button>
                            <button *ngIf="isAdmin"  class="btn btn-xs btn-default" [routerLink]="['/okr/okr-goals/goal/',goal.goal_id]"> Details </button>
                            <button *ngIf="isAdmin"  class="btn btn-xs btn-default" (click)="editGoalsButton(goal)"> Edit</button>
                            <button *ngIf="isAdmin"  class="btn btn-xs btn-default"(click)="deleteGoalButton(goal)"> Delete</button>
                          </div>
                        </div>
                        <div class="project-value">
                          <h2 class="text-info">
                            {{goal.goal_progress_status | number : "1.0-2"}} %
                          </h2>
                        </div>
                        <div class="project-people">
                          <!-- <img alt="logo" class="img-circle" src="images/a1.jpg">-->

                        </div>
                      </div>
                    </div>
                  </div>
                  <!---->
                  <!--<div class="panel-footer">-->
                  <!--Additional information about project in footer-->
                  <!--</div>-->


                </div>
                <!-- END GREEN HPANEL-->
              </div>
              <!--End of ngSwitchDefault-->
            </div>
            <!--Eng of NG Switch-->

          </div>
          <!--END COL-LG-12-->

        </div>
        <!--End of Project/ Goal-->

      </div>
      <!--END COL-MD-12-->
    </div>
    <!--END ROW -->
  </div>
  <!-- END OKRs-Cards-->
</div>
<!--END ROW (TOP) -->







<!--Goal Modal-->
<div bsModal #goalModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [config]="{backdrop: 'static'}">
  <div class="modal-dialog ">
    <div class="color-line"></div>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> {{modalTitle}} </h4>
        <!--<button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">-->
        <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
      </div>
      <div class="modal-body">
        <div class="stage">



          <!--<form class="form-horizontal">-->
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">Goal Name</label>

              <div class="col-sm-9">
                <input name="goalNameInputBoxValue" type="text" placeholder="Please enter your goal name" autocomplete="off" class="form-control" value="{{goalNameInputBoxValue}}"
                       #goalNameInput>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Goal Description</label>
              <div class="col-sm-9">
              <textarea style="height: 85px" type="text"
                        placeholder="Please enter your goal description, such as 'Decrease company expenses' or 'protect and grow our core business'"
                        autocomplete="off" class="form-control"
                        name="goalDescriptionInputBoxValue"
                        value="{{goalDescriptionInputBoxValue}}" #goalDescriptionInput></textarea>

              </div>
            </div>


            <div id="timeFrameSelector" *ngIf="1 == editModeIO">
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Select A Time Frame</label>
                <div class="col-sm-9">
                  <ng-select #timeFrameSelector [allowClear]="true" [items]="timeFrameDropdownListOptions"  [(ngModel)]="selectedTimeFrame"
                             placeholder="Select a Time Frame">
                  </ng-select>
                </div>
              </div>
            </div>


            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Select A Tag</label>
              <div class="col-sm-9">
                <ng-select #tagSelector [allowClear]="true"
                           [items]="tagDropdownListOptions"

                           [(ngModel)]="selectedTag"
                           placeholder="Select a Tag">
                </ng-select>
              </div>
            </div>

          </div>
          <!--</form>-->






          <!--</form>-->
        </div>
      </div> <!--EndgoalModalodal Body-->
      <div class="modal-footer">


        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeGoalModal()">Close</button>
        <button type="button" class="btn btn-primary" autofocus (click)="modalSaveChangeButton(goalNameInput.value,goalDescriptionInput.value);"> Save changes</button>



      </div>
    </div>
  </div>
</div>





<!-- Modal For Review -->
<div bsModal #reviewGoalModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg ">
    <div class="color-line"></div>
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title pull-left"> Goal Review  </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeReviewGoalButton()">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <div class="stage">

          <div class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-12">
                <h2>Objective Overview</h2>

                <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                        [titles]="['one','two','three']"></rating>
                <span class="label"
                      [ngClass]="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
                      [ngStyle]="{display: true, 'inline' : 'none'}">{{percent}}%</span>

              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <div class="col-sm-12">

                <textarea class="form-control note-editor" rows="10" [(ngModel)]="reviewDescription" [disabled]="!isAdmin"></textarea>
              </div>



            </div>
            <div class="hr-line-dashed"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeReviewGoalButton()"> Close</button>
              <button type="button" class="btn btn-primary" autofocus (click)="saveReviewGoalButton(editGoal)" [disabled]="!isAdmin"> Save changes</button>
            </div>

          </div>



        </div>

      </div>
    </div>
  </div>
</div>


