


<div class="normalheader ">

  <div class="hpanel">


    <div class="panel-body">

      <a class="small-header-action" >
        <div class="clip-header">
          <i class="fa fa-arrow-up"></i>
        </div>
      </a>

      <!--<div id="hbreadcrumb" class="pull-right m-t-lg">-->
      <!--<ol class="hbreadcrumb breadcrumb">-->
      <!--<li><a href="index.html">Dashboard</a></li>-->
      <!--<li>-->
      <!--<span>App views</span>-->
      <!--</li>-->
      <!--<li class="active">-->
      <!--<span>Mailbox</span>-->
      <!--</li>-->
      <!--</ol>-->
      <!--</div>-->

      <h2 class="font-light m-b-xs">
        {{pageTitle}}
      </h2>

      <small>{{subPageTitle}}</small>

    </div>

  </div>
</div>
<div class="content animate-panel ">


  <div class="row">

    <!--Start Left navagation-->
    <div class="col-md-3">
      <div class="hpanel">
        <div class="panel-body">

          <ul class="mailbox-list">
            <li >
              <a routerLink="/okr/okr-setting">
                <span class="pull-right">12</span>
                <i class="fa fa-envelope"></i> Inbox
              </a>
            </li>
            <li>
              <a routerLink="/okr/okr-setting/setting-time-frame"><i class="fa fa-paper-plane"></i> Time Frame</a>
            </li>
          </ul>
          <hr>

          <ul class="mailbox-list">
            <li>
              <a href="#"><i class="fa fa-tag text-success"></i> Promos</a>
            </li>

            <li>
              <a href="#"><i class="fa fa-flag text-primary"></i> Updates</a>
            </li>
          </ul>

          <hr>

          <ul class="mailbox-list">
            <li>
              <a href="#"><i class="fa fa-gears"></i> Settings</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-info-circle"></i> Support</a>
            </li>
          </ul>


        </div>

      </div>
    </div>
    <!--End Left navagation-->


    <!--Start right context-->
    <div class="col-md-9">
      <div class="hpanel">
        <div class="panel-heading hbuilt">
          <div class="text-center p-xs font-normal">
            <div class="input-group"><input type="text" class="form-control input-sm" placeholder="Search email in your inbox..."> <span class="input-group-btn"> <button type="button" class="btn btn-sm btn-default">Search
                            </button> </span></div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6 m-b-md">
              <div class="btn-group">
                <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                <button class="btn btn-default btn-sm"><i class="fa fa-eye"></i></button>
                <button class="btn btn-default btn-sm"><i class="fa fa-exclamation"></i></button>
                <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                <button class="btn btn-default btn-sm"><i class="fa fa-check"></i></button>
                <button class="btn btn-default btn-sm"><i class="fa fa-tag"></i></button>
              </div>
            </div>
            <div class="col-md-6 mailbox-pagination m-b-md">
              <div class="btn-group">
                <button class="btn btn-default btn-sm"><i class="fa fa-arrow-left"></i></button>
                <button class="btn btn-default btn-sm"><i class="fa fa-arrow-right"></i></button>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <!--Start Table List-->
            <table class="table table-hover table-mailbox">
              <tbody>

              <tr class="unread active">
                <td class="">
                  <div class="checkbox checkbox-single">
                    <input type="checkbox" checked>
                    <label></label>
                  </div>
                </td>
                <td><a href="#">Ferdinand Meadows</a></td>
                <td><a href="#">Aenean hendrerit ligula eget augue gravida semper.</a></td>
                <td><i class="fa fa-paperclip"></i></td>
                <td class="text-right mail-date">Sat, Aug 29</td>
              </tr>

              <tr class="unread">
                <td class="">
                  <div class="checkbox checkbox-single checkbox-success">
                    <input type="checkbox" checked>
                    <label></label>
                  </div>
                </td>
                <td><a href="#">Joseph Hurley</a></td>
                <td><a href="#">Nullam tempus leo id urna sagittis blandit.</a></td>
                <td><i class="fa fa-paperclip"></i></td>
                <td class="text-right mail-date">Sun, Aug 10</td>
              </tr>



              <tr>
                <td class="">
                  <div class="checkbox">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td><a href="#">Marshall Horne</a></td>
                <td><a href="#">Praesent nec nisl sed neque ornare maximus at ac enim.</a>
                </td>
                <td></td>
                <td class="text-right mail-date">Wed, Jan 13</td>
              </tr>

              </tbody>
            </table>


            <!--End Table List-->
          </div>
        </div>

        <div class="panel-footer">
          <i class="fa fa-eye"> </i> 6 unread
        </div>

      </div>
    </div>
    <!--End right context-->

  </div>
</div>
