

    <div id="wrapper menus languageId versionConfigs">



        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                <a class="navbar-brand" href="#"  >iSmart Mobile Report System V2.0 - (Single Page)</a>
            </div>
            <!-- /.navbar-header -->


            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-message">
                        <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>-->
                        <!--</li>-->
                        <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>-->
                        <!--</li>-->
                        <li>
                            <!--<a href="#" id="Manage_Users" ><i class="fa fa-user  fa-fw"></i> {{menus.Manage_Users}}</a>-->
                        </li>


                        <li class="divider"></li>

                        <li>
                            <a href="#">
                                <i class="fa fa-sign-out fa-fw"></i> Exit
                            </a>


                        </li>

                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>



        <!--Side Bar-->
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">


                    <ul class="nav" id="side-menu">



                        <li class="sidebar-search" style="text-align:right;">

                            <!-- /input-group -->
                        </li>

                        <li>
                            <a href="#"  id="Dashboard" ><i class="fa fa-database fa-fw"></i> Database Managerment</a>
                        </li>





                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>


        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->



<data-content>
    <i class="center-fix main-spinner fa fa-spin fa-spinner">
        Loading data-content
    </i>
</data-content>