




    <!--Start right context-->
    <div class="col-md-9">
      <div class="hpanel">


        <div class="panel-body">
          <!--Left Button Group-->
          <div class="row">
            <div class="col-md-6 m-b-md">
              <div class="btn-group">
                <button class="btn btn-default btn-sm"><i class="fa fa-refresh" (click)="refreshButton()"></i> Refresh</button>


              </div>
            </div>

            <!--Right Button Group-->
            <div class="col-md-6 mailbox-pagination m-b-md">
              <div class="btn-group" *ngIf="isAdmin">

                <!--<button class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Add New</button>-->

                <button class="btn btn-default btn-sm" (click)="editButton()"><i class="fa fa-pencil-square-o"></i> Edit</button>
                <button type="button" class="btn btn-default btn-sm"  (click)="addTeamButton()"><i class="fa fa-plus"></i>
                  Add New
                </button>


                <!--<app-time-frame-settgoalModalodal></app-time-frame-settgoalModalodal>-->


              </div>
            </div>
          </div>



          <div class="table-responsive">
            <!--Start Table List-->
            <table class="table table-hover table-mailbox">
              <tbody>

              <tr class="active">
                <td >ID</td>
                <td >Team Name</td>
                <td>Team description</td>
                <td>Team Leader</td>
                <td [hidden]=isLoaded>Edit</td>
              </tr>

              <tr *ngFor="let tm of teams">
                <td >{{ tm.team_id}}</td>
                <td> {{ tm.team_name }} </td>
                <td> {{ tm.team_description }} </td>
                <td> {{ tm.first_name }} - {{ tm.last_name }}</td>
                <td [hidden]=isLoaded>
                  <!--Delete the record-->
                  <button class="btn btn-default btn-sm" (click)="deleteTeamButton(tm);" ><i class="fa fa-trash-o"></i> </button>
                  <!--Edit the record-->
                  <button class="btn btn-default btn-sm" (click)="editTeamsButton(tm)"><i class="fa fa-pencil-square-o"></i> </button>
                </td>
              </tr>


              </tbody>
            </table>

            <!--End Table List-->
          </div>
        </div>

        <div class="panel-footer">
          {{teams.length}} Records
        </div>

      </div>
    </div>
    <!--End right context-->





<!--Add New Record modal module-->

<modal [animation]="animation" [keyboard]="keyboard"  [backdrop]="backdrop"   #modal>
  <div class="color-line"></div>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Create New Time Frame</h4>
  </modal-header>
  <modal-body>
    <div class="stage">

        <label >Team Name</label>
        <div class="palos-input block" >

          <input type="text" placeholder="Please enter your team name" autocomplete="off" class="form-control" [(ngModel)]="teamNameInputBoxValue"  value="{{teamNameInputBoxValue}}" #teamNameInput> <!---->

        </div>


      <br>


        <label >Team Description</label>
        <div class="palos-input block" >

          <textarea type="text" placeholder="Please enter your team description" autocomplete="off" class="form-control" [(ngModel)]="teamDescriptionInputBoxValue" value="{{teamDescriptionInputBoxValue}}" #teamDescriptionInput>

          </textarea>

        </div>
        <br>
        <label >Team Leader</label>
        <div class="palos-input block" >


          <!--<ng-select #teamLeaderSelector [allowClear]="true" [items]="teamLeadersOptions" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" [(ngModel)]="teamLeaderSelectedOptions" placeholder="Select a team leader"></ng-select>-->

          <ng-select #teamLeaderSelector
                     [allowClear]="true"
                     [items]="teamLeadersDropdownOptions"

                     [(ngModel)]="teamLeaderSelectedOptions"
                     placeholder="Select a team leader">
          </ng-select>




        </div>
        <br>
        <label >Team Members</label>
        <div class="palos-input block" >


          <ss-multiselect-dropdown [options]="membersDropdownListOptions"
                                   [texts]="myTexts"
                                   [settings]="teamMemberSelectorSettings"
                                   [(ngModel)]="memberSelectedOptions" #teamMemberSelector>

          </ss-multiselect-dropdown>



        </div>


      <br>
      <label >Parent team</label>
      <div class="palos-input block" >


        <ng-select #parentTeamSelector
                   [allowClear]="true"
                   [items]="teamDropdownListOptions"

                   [(ngModel)]="parentTeamSelectedOptions"
                   placeholder="Select a parent team">
        </ng-select>




      </div>




    </div>
  </modal-body>
  <modal-footer>


    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeButton()">Close</button>
    <button type="button" class="btn btn-primary" autofocus (click)="modalSaveChangeButton(teamNameInput.value,teamDescriptionInput.value);" > Save changes</button>
    <!--<button type="button" class="btn btn-primary" autofocus (click)="final();" > Save changes</button>-->



  </modal-footer>
</modal>



