
<!--Start right context-->
<div class="col-md-9">
  <div class="hpanel">
    <!--Left Button Group-->
    <div class="panel-body"  >
      <div  class="form-horizontal">

        <div class="form-group"><label class="col-sm-3 control-label">Email Address</label>
          <div class="col-sm-9">
            <div class="col-sm-12"><input type="text" class="form-control"placeholder="Email Address"  [disabled]="true"   [(ngModel)]="userInfo.email"  ></div>
          </div>
        </div>



        <div class="form-group"><label class="col-sm-3 control-label">First Name</label>
          <div class="col-sm-9">

            <div class="col-sm-12"><input type="text" class="form-control" placeholder="First Name"  [(ngModel)]="userInfo.first_name"  ></div>

          </div>
        </div>



        <div class="form-group"><label class="col-sm-3 control-label">Last Name</label>
          <div class="col-sm-9">
            <div class="col-sm-12"><input type="text" class="form-control" placeholder="Last Name"  [(ngModel)]="userInfo.last_name"  ></div>

          </div>
        </div>


        <div class="form-group"><label class="col-sm-3 control-label">Date Of Birth</label>
          <div class="col-sm-9">
            <div class="col-sm-12">
              <input type="date" class="form-control" placeholder="Date Of Birth"  date='dd/MM/yyyy' [(ngModel)]="userInfo.dob  " >
            </div>

          </div>
        </div>



        <div class="form-group"><label class="col-sm-3 control-label">Mobile Number</label>
          <div class="col-sm-9">
            <div class="col-sm-12"><input type="text" class="form-control" placeholder="Mobile Number"  [(ngModel)]="userInfo.mobile_number"  ></div>
          </div>
        </div>


        <div class="form-group"><label class="col-sm-3 control-label"> Position </label>
          <div class="col-sm-9">
            <div class="col-sm-12"><input type="text" class="form-control" placeholder="Position"  [(ngModel)]="userInfo.position"  ></div>
          </div>
        </div>


        <div class="hr-line-dashed"></div>
        <div class="form-group ">
          <div class="col-sm-8 col-sm-offset-2 ">


          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <button class="btn btn-default" (click)="cancelButton()"  >Cancel</button>
        </div>
        <div class="col-xs-4">

          <button class="btn btn-outline btn-primary2"  (click)="openPasswordModal(userInfo)" > Change Password </button>

        </div>
        <div class="col-xs-4">
          <button class="btn btn-primary pull-right" type="submit" (click)="saveUserInfoButton(userInfo)" >Save changes</button>

        </div>

      </div>



    </div>

  </div>
</div>


<!-- Change Password !-->


<!-- Modal For Password -->
<div bsModal #passwordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [config]="{backdrop: 'static'}">
  <div class="modal-dialog ">
    <div class="color-line"></div>
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title pull-left"> Change Password  </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closePasswordModal()">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <div class="stage">

          <form [formGroup]="passwordForm" (submit)="passwordForm.valid && submitNewPassword()" passwordForm>

            <div class="form-group">
              <label class="control-label" for="currentPassword">Current Password</label>

              <input formControlName="currentPassword" type="password" placeholder="******" required="" value="" name="currentPassword" id="currentPassword" class="myform_control" title="Please enter your password" required />
              <span class="help-block small">Your current password</span>
              <app-control-messages [control]="passwordForm.controls.currentPassword"></app-control-messages>
            </div>

            <div class="form-group">
              <label class="control-label" for="newPassword">New Password</label>

              <input formControlName="newPassword" type="password" placeholder="******"  name="newPassword" id="newPassword" class="myform_control" title="Please enter your password" required />
              <span class="help-block small">Your new password</span>
              <app-control-messages [control]="passwordForm.controls.newPassword"></app-control-messages>

            </div>




            <div class="form-group">
              <label class="control-label" for="repeatPassword">Repeat New Password</label>
              <!--<input class="myform_control" formControlName="password" id="password" placeholder="******" title="Please enter your password" required/>-->
              <input formControlName="repeatPassword" type="password" placeholder="******" name="repeatPassword" id="repeatPassword" class="myform_control" title="Please enter your password" required />
              <span class="help-block small">Type again your new password</span>
              <app-control-messages [control]="passwordForm.controls.repeatPassword"></app-control-messages>
              <div class="myform_control_errorMessage" *ngIf="passwordForm.value.newPassword != passwordForm.value.repeatPassword">New Password And Repeat Password Not Match</div>
            </div>
            <button [disabled]="loading" class="btn btn-success btn-block" type="submit">Save</button>
            <!--<img *ngIf="loading" src="../../assets/images/loading.gif" />-->
            <img *ngIf="loading" src="../../assets/images/loading-bars.svg" />
            <a class="btn btn-default btn-block" (click)="closePasswordModal()"> Close </a>

          </form>


        </div>

      </div>
    </div>
  </div>
</div>

